      <form
        name="product_catalog_list"
        id="product_catalog_list"
        method="post"
        action="{{ path('admin_product_catalog', {'limit': limit, 'orderBy': orderBy, 'sortOrder': sortOrder}) }}"
        orderingurl="{{ path('admin_product_catalog', {'limit': limit, 'orderBy': 'name', 'sortOrder': 'asc'}) }}"
        newproducturl="{{ path('admin_product_new') }}"
      >
        <div class="row">
          <div class="col-md-12">
            <input type="hidden" name="filter_category" value="{{ filter_category|default('') }}" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table
              class="table product mt-3"
              redirecturl="{{ path('admin_product_catalog', {
                'limit': limit,
                'offset': offset,
                'orderBy': orderBy,
                'sortOrder': sortOrder})
              }}"
            >
              <thead class="thead-default">
                <tr class="column-headers">
                  <th class="small-text" style="width: 8%">
                    {{ "ID"|trans({}, 'Admin.Global') }}
                    {{ ps.carrets('id_product') }}
                  </th>
                  <th class="small-text">
                    {{ "Image"|trans({}, 'Admin.Global') }}
                  </th>
                  <th class="small-text">
                    {{ "Name"|trans({}, 'Admin.Global') }}
                    {{ ps.carrets('name') }}
                  </th>
                  <th class="small-text" style="width: 9%">
                    {{ "Reference"|trans({}, 'Admin.Global') }}
                    {{ ps.carrets('reference') }}
                  </th>
                  <th class="small-text">
                    {{ "Category"|trans({}, 'Admin.Catalog.Feature') }}
                    {{ ps.carrets('name_category') }}
                  </th>
                  <th class="small-text" style="width: 9%">
                    {{ "Price (tax excl.)"|trans({}, 'Admin.Catalog.Feature') }}
                    {{ ps.carrets('price') }}
                  </th>

                  {% if 'PS_STOCK_MANAGEMENT'|configuration %}
                  <th class="small-text" style="width: 9%">
                    {{ "Quantity"|trans({}, 'Admin.Catalog.Feature') }}
                    {{ ps.carrets('sav_quantity') }}
                  </th>
                  {% else %}
                    <th></th>
                  {% endif %}

                  <th class="small-text">
                    {{ "Status"|trans({}, 'Admin.Global') }}
                    {{ ps.carrets('active') }}
                  </th>
                  {% if has_category_filter == true %}
                    <th class="small-text">
                      {{ "Position"|trans({}, 'Admin.Global') }}
                      {{ ps.carrets('position') }}
                    </th>
                  {% endif %}
                  <th class="small-text" style="width: 6%"></th>
                </tr>
                <tr class="column-filters">
                  <th>
                    {% include 'PrestaShopBundle:Admin/Helpers:range_inputs.html.twig' with {
                      'input_name': "filter_column_id_product",
                      'min': '0',
                      'max': '1000000',
                      'minLabel': "Min"|trans({}, 'Admin.Global'),
                      'maxLabel': "Max"|trans({}, 'Admin.Global'),
                      'value': filter_column_id_product,
                    } %}
                  </th>
                  <th>&nbsp;</th>
                  <th>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="{{ "Search name"|trans({}, 'Admin.Catalog.Help') }}"
                      name="filter_column_name"
                      value="{{ filter_column_name }}"
                    />
                  </th>
                  <th>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="{{ "Search ref."|trans({}, 'Admin.Catalog.Help') }}"
                      name="filter_column_reference"
                      value="{{ filter_column_reference }}"
                    />
                  </th>
                  <th>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="{{ "Search category"|trans({}, 'Admin.Catalog.Help') }}"
                      name="filter_column_name_category"
                      value="{{ filter_column_name_category }}"
                    />
                  </th>
                  <th>
                    {% include 'PrestaShopBundle:Admin/Helpers:range_inputs.html.twig' with {
                      'input_name': "filter_column_price",
                      'min': '0',
                      'max': '1000000',
                      'minLabel': "Min"|trans({}, 'Admin.Global'),
                      'maxLabel': "Max"|trans({}, 'Admin.Global'),
                      'value': filter_column_price,
                    } %}
                  </th>

                  {% if 'PS_STOCK_MANAGEMENT'|configuration %}
                  <th>
                    {% include 'PrestaShopBundle:Admin/Helpers:range_inputs.html.twig' with {
                      'input_name': "filter_column_sav_quantity",
                      'min': '-1000000',
                      'max': '1000000',
                      'minLabel': "Min"|trans({}, 'Admin.Global'),
                      'maxLabel': "Max"|trans({}, 'Admin.Global'),
                      'value': filter_column_sav_quantity,
                    } %}
                  </th>
                  {% else %}
                    <th></th>
                  {% endif %}

                  <th id="product_filter_column_active">
                    <div class="form-select">
                      <select class="custom-select"  name="filter_column_active">
                        <option value=""></option>
                        <option value="1" {% if (filter_column_active is defined) and filter_column_active == '1' %}selected="selected"{% endif %}>Active</option>
                        <option value="0" {% if (filter_column_active is defined) and filter_column_active == '0' %}selected="selected"{% endif %}>Inactive</option>
                      </select>
                    </div>
                  </th>
                  {% if has_category_filter == true %}
                    <th>
                      {% if not(activate_drag_and_drop) %}
                        <input type="button" class="btn btn-outline-secondary" name="products_filter_position_asc" value="{{ "Reorder"|trans({}, 'Admin.Actions') }}" onclick="productOrderPrioritiesTable();" />
                        {% else %}
                        <input type="button" id="bulk_edition_save_keep" class="btn" onclick="bulkProductAction(this, 'edition');" value="{{ "Save & refresh"|trans({}, 'Admin.Actions')|raw }}" />
                    {% endif %}

                    </th>
                  {% endif %}
                  <th style="width: 12%">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      name="products_filter_submit"
                      title="{{ "Filter"|trans({}, 'Admin.Actions') }}"
                    >
                      <i class="material-icons">search</i>
                      {{ "Apply"|trans({}, 'Admin.Actions') }}
                    </button>
                    <button
                      type="reset"
                      class="btn btn-link"
                      name="products_filter_reset"
                      onclick="productColumnFilterReset($(this).closest('tr.column-filters'))"
                      title="{{ "Reset"|trans({}, 'Admin.Actions') }}"
                    >
                      <i class="material-icons">clear</i>
                      {{ "Reset"|trans({}, 'Admin.Actions') }}
                    </button>
                  </th>
                </tr>
              </thead>
              {{ render(controller('PrestaShopBundle\\Controller\\Admin\\ProductController::listAction', {
                'limit': limit,
                'offset': offset,
                'orderBy': orderBy,
                'sortOrder': sortOrder,
                'products': products,
                'last_sql': last_sql
              })) }}
            </table>
          </div>
        </div>

        {% if product_count_filtered > 20 %}
          <div class="row">
            <div class="col-md-12">
              {{ render(controller('PrestaShopBundle:Admin\\Common:pagination',
              {'limit': limit, 'offset': offset, 'total': product_count_filtered, 'caller_parameters': pagination_parameters, 'limit_choices': pagination_limit_choices}))
              }}
            </div>
          </div>
        {% endif %}

      </form>
