{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        output='js/admin-catalog.js'
        '@PrestaShopBundle/Resources/public/admin/extra-js/product/catalog.js'
        '@PrestaShopBundle/Resources/public/admin/extra-js/pagination.js'
        '@PrestaShopBundle/Resources/public/admin/extra-js/category-tree.js'
        '../js/jquery/ui/jquery.ui.sortable.min.js'
        '../js/vendor/node_modules/bootstrap-slider/dist/bootstrap-slider.min.js' package='admin' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    {{ renderhook('legacy_block_kpi', {'kpi_controller': 'AdminProductsController'}) }}

    <div id="product_catalog_category_tree_filter" class="panel">
        {{ trans("Categories", {}, 'AdminProducts') }} &nbsp;
        <div class="pull-right">
            <input type="button" name="product_catalog_category_tree_filter_expand" value="{{ trans('Expand All', {}, 'AdminTab') }}"
                   onclick="productCategoryFilterExpand($('div#product_catalog_category_tree_filter'), this);"
                   class="btn" id="product_catalog_category_tree_filter_expand" />
            <input type="button" name="product_catalog_category_tree_filter_collapse" value="{{ trans('Collapse All', {}, 'AdminTab') }}"
                   onclick="productCategoryFilterCollapse($('div#product_catalog_category_tree_filter'), this);"
                   class="btn" id="product_catalog_category_tree_filter_collapse" />
            <input type="button" name="product_catalog_category_tree_filter_reset" value="Unselect"
                   onclick="productCategoryFilterReset($('div#product_catalog_category_tree_filter'));"
                   class="btn btn-warning" id="product_catalog_category_tree_filter_reset" />
        </div>
        <div class="form-wrapper hide">
            {{ form_widget(categories) }}
        </div>
    </div>
    <div class="panel col-lg-12">
        <div class="panel-heading">
            {{ trans("Products", {}, 'AdminProducts') }} {% if has_category_filter == true and activate_drag_and_drop == true %} {{ trans("(ordering)", {}, 'AdminProducts') }} {%else%} {% if has_filter == true %} {{ trans("(filtered)", {}, 'AdminProducts') }} {% endif %} {% endif %}
            <span id="product_list_badge" class="badge">{% if has_filter == true %}{{ product_count_filtered }} / {% endif %}{{ product_count }}</span>
            <span class="panel-heading-action">
                <a id="desc-product-export" class="list-toolbar-btn" href="{{ path('admin_product_export_action') }}">
                    <span title="" data-toggle="tooltip" class="label-tooltip" data-original-title="{{ trans("Export", {}, 'AdminTab') }}" data-html="true" data-placement="top">
                        <i class="process-icon-export"></i>
                    </span>
                </a>
                <a id="desc-product-import" class="list-toolbar-btn" href="{{ import_link }}">
                    <span title="" data-toggle="tooltip" class="label-tooltip" data-original-title="{{ trans("Import", {}, 'AdminTab') }}" data-html="true" data-placement="top">
                        <i class="process-icon-import"></i>
                    </span>
                </a>
                <a id="desc-product-show-sql" class="list-toolbar-btn" href="javascript:void(0);" onclick="showLastSqlQuery();">
                    <span class="label-tooltip" data-toggle="tooltip" data-original-title="{{ trans("Show SQL query", {}, 'AdminTab') }}" data-html="true" data-placement="top">
                        <i class="process-icon-terminal"></i>
                    </span>
                </a>
                <a id="desc-product-sql-manager" class="list-toolbar-btn" href="javascript:void(0);" onclick="sendLastSqlQuery(createSqlQueryName());">
                    <span class="label-tooltip" data-toggle="tooltip" data-original-title="{{ trans("Export to SQL Manager", {}, 'AdminTab') }}" data-html="true" data-placement="top">
                        <i class="process-icon-database"></i>
                    </span>
                </a>
            </span>
        </div>

        <form name="product_catalog_list" id="product_catalog_list" method="post"
              action="{{ path('admin_product_catalog', {'limit': limit, 'orderBy': orderBy, 'sortOrder': sortOrder}) }}"
              orderingurl="{{ path('admin_product_catalog', {'limit': limit, 'orderBy': 'name', 'sortOrder': 'desc'}) }}" >
            <input type="hidden" name="filter_category" value="{{ filter_category|default('') }}" />

            <div class="table-responsive-row clearfix">
                <table class="table table-condensed table-striped product" redirecturl="{{ path('admin_product_catalog', {'limit': limit, 'offset': offset, 'orderBy': orderBy, 'sortOrder': sortOrder}) }}">
                    <thead>
                        <tr class="column-headers">
                            <th colspan="2">
                                {{ trans("ID", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="id_product" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'id_product' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="id_product" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'id_product' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            <th>
                                {{ trans("Image", {}, 'AdminProducts') }}
                            </th>
                            <th class="col-xs-3">
                                {{ trans("Name", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="name" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'name' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="name" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'name' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            <th class="col-xs-1">
                                {{ trans("Reference", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="reference" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'reference' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="reference" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'reference' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            <th class="col-xs-2">
                                {{ trans("Category", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="name_category" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'name_category' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="name_category" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'name_category' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            <th class="col-md-1">
                                {{ trans("Base price", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="price" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'price' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="price" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'price' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            <th class="col-xs-1">
                                {{ trans("Final price", {}, 'AdminProducts') }}
                            </th>
                            <th class="col-xs-1">
                                {{ trans("Quantity", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="sav_quantity" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'sav_quantity' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="sav_quantity" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'sav_quantity' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            <th>
                                {{ trans("Status", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="active" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'active' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="active" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'active' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            {% if has_category_filter == true %}
                                <th>
                                    {{ trans("Position", {}, 'AdminProducts') }}
                                    &nbsp;<span psorderby="position" psorderway="asc" class="icon-caret-up icon-caret {% if (orderBy == 'position' or orderBy == 'position_ordering') and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                    &nbsp;<span psorderby="position" psorderway="desc" class="icon-caret-down icon-caret {% if (orderBy == 'position' or orderBy == 'position_ordering') and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                                </th>
                            {% endif %}
                            <th>&nbsp;</th>
                        </tr>
                        <tr class="column-filters">
                            <th colspan="2">
                                {% include 'PrestaShopBundle:Admin/Helpers:range_inputs.html.twig' with {
                                    'input_name': "filter_column_id_product",
                                    'min': '0',
                                    'max': '1000000',
                                    'minLabel': trans("Min", {}, 'AdminProducts'),
                                    'maxLabel': trans("Max", {}, 'AdminProducts'),
                                    'value': filter_column_id_product,
                                } %}
                            </th>
                            <th>&nbsp;</th>
                            <th>
                                <input type="text" placeholder="{{ trans("Search name", {}, 'AdminProducts') }}" name="filter_column_name" value="{{ filter_column_name }}" />
                            </th>
                            <th>
                                <input type="text" placeholder="{{ trans("Search ref.", {}, 'AdminProducts') }}" name="filter_column_reference" value="{{ filter_column_reference }}" />
                            </th>
                            <th>
                                <input type="text" placeholder="{{ trans("Search category", {}, 'AdminProducts') }}" name="filter_column_name_category" value="{{ filter_column_name_category }}" />
                            </th>
                            <th>
                                {% include 'PrestaShopBundle:Admin/Helpers:range_inputs.html.twig' with {
                                    'input_name': "filter_column_price",
                                    'min': '0',
                                    'max': '1000000',
                                    'minLabel': trans("Min", {}, 'AdminProducts'),
                                    'maxLabel': trans("Max", {}, 'AdminProducts'),
                                    'value': filter_column_price,
                                } %}
                            </th>
                            <th>&nbsp;</th>
                            <th>
                                {% include 'PrestaShopBundle:Admin/Helpers:range_inputs.html.twig' with {
                                    'input_name': "filter_column_sav_quantity",
                                    'min': '-1000000',
                                    'max': '1000000',
                                    'minLabel': trans("Min", {}, 'AdminProducts'),
                                    'maxLabel': trans("Max", {}, 'AdminProducts'),
                                    'value': filter_column_sav_quantity,
                                } %}
                            </th>
                            <th>
                                <select name="filter_column_active">
                                    <option value=""></option>
                                    <option value="1" {% if (filter_column_active is defined) and filter_column_active == '1' %}selected="selected"{% endif %}>Active</option>
                                    <option value="0" {% if (filter_column_active is defined) and filter_column_active == '0' %}selected="selected"{% endif %}>Inactive</option>
                                </select>
                            </th>
                            {% if has_category_filter == true %}
                                <th>
                                    {% if not(activate_drag_and_drop) %}
                                        <input type="button" class="btn" name="products_filter_position_asc" value="{{ trans("Sort", {}, 'AdminProducts') }}" onclick="productOrderPrioritiesTable();" />
                                    {% endif %}
                                </th>
                            {% endif %}
                            <th>
                                <input type="submit" class="btn btn-primary" name="products_filter_submit" value="{{ trans("Filter", {}, 'AdminProducts') }}" />
                                <input type="reset" class="btn btn-warning" name="products_filter_reset" onclick="productColumnFilterReset($(this).closest('tr.column-filters'))" value="{{ trans("Reset", {}, 'AdminProducts') }}" />
                            </th>
                        </tr>
                    </thead>
                    {% render controller('PrestaShopBundle\\Controller\\Admin\\ProductController::listAction',
                      {'limit': limit, 'offset': offset, 'orderBy': orderBy, 'sortOrder': sortOrder, 'products': products, 'last_sql': last_sql})
                    %}
                    <tfooter>
                        <th colspan="11">
                            <input type="checkbox" id="bulk_action_select_all" onclick="$(this).closest('table').find('td.checkbox-column input:checkbox').prop('checked', $(this).prop('checked')); updateBulkMenu();" />
                            &nbsp;{{ trans("Select all", {}, 'AdminTab') }}
                        </th>
                    </tfooter>
                </table>
            </div>

            <div class="row">
                <div class="pull-left" bulkurl="{{ path('admin_product_bulk_action', {'action': 'activate_all'}) }}"
                     massediturl="{{ path('admin_product_mass_edit_action', {'action': 'sort'}) }}"
                     redirecturl="{{ path('admin_product_catalog', {'limit': limit, 'offset': offset, 'orderBy': orderBy, 'sortOrder': sortOrder}) }}"
                     redirecturlnextpage="{{ path('admin_product_catalog', {'limit': limit, 'offset': offset+limit, 'orderBy': orderBy, 'sortOrder': sortOrder}) }}">

                    {% include 'PrestaShopBundle:Admin/Helpers:dropdown_menu.html.twig' with {
                        'div_style': "btn-group dropup",
                        'button_id': "product_bulk_menu",
                        'disabled': true,
                        'menu_label': trans("Bulk actions", {}, 'AdminTab'),
                        'menu_icon': "icon-caret-up",
                        'items':[
                            {
                                "onclick": "bulkProductAction(this, 'activate_all');",
                                "icon": "icon-power-off",
                                "label": trans("Activate selection", {}, 'AdminTab')
                            },
                            {
                                "onclick": "bulkProductAction(this, 'deactivate_all');",
                                "icon": "icon-power-off",
                                "label": trans("Deactivate selection", {}, 'AdminTab')
                            },
                            {"divider": true},
                            {
                            "onclick": "bulkProductAction(this, 'duplicate_all');",
                            "icon": "icon-copy",
                            "label": trans("Duplicate selection", {}, 'AdminTab')
                            },
                            {"divider": true},
                            {
                                "onclick": "bulkProductAction(this, 'delete_all');",
                                "icon": "icon-trash",
                                "label": trans("Delete selection", {}, 'AdminTab')
                            }
                        ]
                    } %}
                    {# include 'PrestaShopBundle:Admin/Helpers:dropdown_menu.html.twig' with {
                        'div_style': "btn-group dropup",
                        'button_id': "product_bulk_menu",
                        'menu_label': trans("Bulk actions", {}, 'AdminTab'),
                        'menu_icon': "icon-caret-up",
                        'items':[
                            {
                                "href": "javascript:bulkProductEdition(this, 'quantity_edition');",
                                "icon": "icon-pencil",
                                "label": 'Edit a qty'
                            }
                        ]
                    } #}

                    <div style="display: inline; margin-left: 2em;">
                        <span id="bulk_edition_toolbar" style="display: none;">
                            <input type="button" id="bulk_edition_save_keep" class="btn" onclick="bulkProductAction(this, 'edition');" value="{{ trans("Save & refresh", {}, 'AdminProducts')|raw }}" />
                            <input type="submit" id="bulk_edition_save_next" class="btn btn-primary" onclick="return bulkProductAction(this, 'edition_next');" value="{{ trans("Save & next page", {}, 'AdminProducts')|raw }}" />
                            <input type="button" class="btn btn-warning" onclick="bulkProductEdition(this, 'cancel');" value="{{ trans("Cancel", {}, 'AdminProducts') }}" />
                        </span>
                    </div>
                </div>
                <div class="pull-right">
                    {% render controller('PrestaShopBundle:Admin\\Common:pagination',
                      {'limit': limit, 'offset': offset, 'total': product_count_filtered, 'caller_parameters': pagination_parameters, 'limit_choices': pagination_limit_choices})
                    %}
                </div>
            </div>
        </form>
    </div>

    {% embed 'PrestaShopBundle:Admin/Helpers:bootstrap_popup.html.twig' with {
        'id': "catalog_duplication_modal",
        'title': trans("Duplication in progress...", {}, 'AdminProducts'),
        'closable': true,
        'progressbar': {
            'id': "catalog_duplication_progression",
            'label': trans("Duplicating...", {}, 'AdminProducts')
        },
        'actions': [],
    } %}
        {% block content %}
            <div class="modal-body">
                {{ trans('Duplication can take time. Please wait...', {}, 'AdminProducts') }}
                <br/>
                <span id="catalog_duplication_failure" style="display: none;color: darkred;">
                    {{ trans('Duplication failed!', {}, 'AdminProducts') }}
                </span>
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'PrestaShopBundle:Admin/Helpers:bootstrap_popup.html.twig' with {
        'id': "catalog_deletion_modal",
        'title': trans("Please confirm deletion", {}, 'AdminProducts'),
        'closable': true,
        'actions': [
            {
                'type': 'button',
                'label': trans("Delete now", {}, 'AdminProducts'),
                'value': 'confirm',
                'class': 'btn btn-warning',
            }
        ],
    } %}
        {% block content %}
            <div class="modal-body">
                {{ trans('Deletion is permanent. Please confirm.', {}, 'AdminProducts') }}
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'PrestaShopBundle:Admin/Helpers:bootstrap_popup.html.twig' with {
        'id': "catalog_sql_query_modal",
        'title': trans("SQL query", {}, 'AdminProducts'),
        'closable': true,
        'actions': [
            {
                'type': 'button',
                'label': trans("Export to SQL Manager", {}, 'AdminTab'),
                'value': 'sql_manager',
                'class': 'btn',
            }
        ],
    } %}
        {% block content %}
            <form method="post" action="{{ sql_manager_add_link }}" id="catalog_sql_query_modal_content">
                <div class="modal-body">
                    <textarea name="sql" rows="20" cols="70"></textarea>
                    <input type="hidden" name="name" value="" />
                </div>
            </form>
        {% endblock %}
    {% endembed %}

{% endblock %}
