{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
<div style="text-align: center;">
    {% image '@PrestaShopBundle/Resources/public/admin/images/create_product.png' %} <img src="{{ asset_url }}" alt="Create a new product" /> {% endimage %}
    <br/>
    <a class="btn btn-primary" href="{{ path('admin_product_form') }}">{{ trans('Add your first product', [], 'AdminProducts') }}</a>
    <br/><br/>
    <a href="{{ import_url }}">{{ trans('or import a list of product (.csv file)', [], 'AdminProducts') }}</a>
</div>
{% endblock %}
