{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@PrestaShopBundle/Resources/public/admin/extra-js/product/catalog.js'
        '@PrestaShopBundle/Resources/public/admin/extra-js/pagination.js'
        '@PrestaShopBundle/Resources/public/admin/extra-js/category-tree.js'
        '../js/jquery/ui/jquery.ui.sortable.min.js'
        '../js/vendor/node_modules/bootstrap-slider/dist/bootstrap-slider.min.js' %}
        <script src="{{ asset_url|admin_asset_path }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '../js/vendor/node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url|admin_asset_path }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}

    {{ renderhook('legacy_block_kpi', {'kpi_controller': 'AdminProductsController'}) }}
    
    <!--## QUICK HELP GREEN BANNER TO REINTEGRATE SOON!-->
    
    <div id="product_catalog_category_tree_filter" class="panel">
        {{ trans("Categories", {}, 'AdminProducts') }} &nbsp;
        <input type="button" name="product_catalog_category_tree_filter_reset" value="Unselect"
            onclick="productCategoryFilterReset($('div#product_catalog_category_tree_filter'))"
            class="pull-right btn" />
        <div class="form-wrapper">
            {{ form_widget(categories) }}
        </div>
    </div>
    
    <div class="panel col-lg-12">
        <div class="panel-heading">
            {{ trans("Products", {}, 'AdminProducts') }} {% if has_category_filter == true and activate_drag_and_drop == true %} {{ trans("(ordering)", {}, 'AdminProducts') }} {%else%} {% if has_filter == true %} {{ trans("(filtered)", {}, 'AdminProducts') }} {% endif %} {% endif %}
            <span class="badge">{% if has_filter == true %}{{ product_count_filtered }} / {% endif %}{{ product_count }}</span>
        </div>
    
        <form name="product_catalog_list" id="product_catalog_list" method="post"
              action="{{ path('admin_product_catalog', {'limit': limit, 'orderBy': orderBy, 'sortOrder': sortOrder}) }}"
              orderingurl="{{ path('admin_product_catalog', {'limit': limit, 'orderBy': 'name', 'sortOrder': 'desc'}) }}" >
            <input type="hidden" name="filter_category" value="{{ filter_category|default('') }}" />

            <div class="table-responsive-row clearfix">
                <table class="table product" redirecturl="{{ path('admin_product_catalog', {'limit': limit, 'offset': offset, 'orderBy': orderBy, 'sortOrder': sortOrder}) }}">
                    <thead>
                        <tr class="column-headers">
                            <th>
                                <input type="checkbox" id="bulk_action_select_all" onclick="$(this).closest('table').find('td.checkbox-column input:checkbox').prop('checked', $(this).prop('checked')); updateBulkMenu();" />
                            </th>
                            <th>
                                {{ trans("ID", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="id_product" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'id_product' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="id_product" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'id_product' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            <th>
                                {{ trans("Image", {}, 'AdminProducts') }}
                            </th>
                            <th>
                                {{ trans("Name", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="name" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'name' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="name" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'name' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            <th>
                                {{ trans("Reference", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="reference" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'reference' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="reference" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'reference' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            <th>
                                {{ trans("Category", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="name_category" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'name_category' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="name_category" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'name_category' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            <th>
                                {{ trans("Base price", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="price" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'price' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="price" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'price' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            <th>
                                {{ trans("Final price", {}, 'AdminProducts') }}
                            </th>
                            <th>
                                {{ trans("Quantity", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="sav_quantity" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'sav_quantity' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="sav_quantity" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'sav_quantity' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            <th>
                                {{ trans("Status", {}, 'AdminProducts') }}
                                &nbsp;<span psorderby="active" psorderway="asc" class="icon-caret-up icon-caret {% if orderBy == 'active' and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                &nbsp;<span psorderby="active" psorderway="desc" class="icon-caret-down icon-caret {% if orderBy == 'active' and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                            </th>
                            {% if has_category_filter == true %}
                                <th>
                                    {{ trans("Position", {}, 'AdminProducts') }}
                                    &nbsp;<span psorderby="position" psorderway="asc" class="icon-caret-up icon-caret {% if (orderBy == 'position' or orderBy == 'position_ordering') and sortOrder == 'asc' %}icon-caret-selected{% endif %}"></span>
                                    &nbsp;<span psorderby="position" psorderway="desc" class="icon-caret-down icon-caret {% if (orderBy == 'position' or orderBy == 'position_ordering') and sortOrder == 'desc' %}icon-caret-selected{% endif %}"></span>
                                </th>
                            {% endif %}
                            <th>&nbsp;</th>
                        </tr>
                        <tr class="column-filters">
                            <th>&nbsp;</th>
                            <th>
                                <input type="text" placeholder="{{ trans("Exact ID matching", {}, 'AdminProducts') }}" name="filter_column_id_product" value="{{ filter_column_id_product }}" />
                            </th>
                            <th>&nbsp;</th>
                            <th>
                                <input type="text" placeholder="{{ trans("Partial name allowed", {}, 'AdminProducts') }}" name="filter_column_name" value="{{ filter_column_name }}" />
                            </th>
                            <th>
                                <input type="text" placeholder="{{ trans("Partial reference allowed", {}, 'AdminProducts') }}" name="filter_column_reference" value="{{ filter_column_reference }}" />
                            </th>
                            <th>
                                <input type="text" placeholder="{{ trans("Partial category name allowed", {}, 'AdminProducts') }}" name="filter_column_name_category" value="{{ filter_column_name_category }}" />
                            </th>
                            <th>
                                {% include 'PrestaShopBundle:Admin/Helpers:range_slider.html.twig' with {
                                    'input_name': "filter_column_price",
                                    'min': '0',
                                    'max': '5000',
                                    'scale': 'logarithmic',
                                    'value': filter_column_price,
                                    'on_change_func_name': '$("form#product_catalog_list").submit();',
                                } %}
                            </th>
                            <th>&nbsp;</th>
                            <th>
                                {% include 'PrestaShopBundle:Admin/Helpers:range_slider.html.twig' with {
                                    'input_name': "filter_column_sav_quantity",
                                    'min': '0',
                                    'max': '1000',
                                    'scale': 'logarithmic',
                                    'value': filter_column_sav_quantity,
                                } %}
                            </th>
                            <th>
                                <select name="filter_column_active">
                                    <option value=""></option>
                                    <option value="1" {% if (filter_column_active is defined) and filter_column_active == '1' %}selected="selected"{% endif %}>Active</option>
                                    <option value="0" {% if (filter_column_active is defined) and filter_column_active == '0' %}selected="selected"{% endif %}>Inactive</option>
                                </select>
                            </th>
                            {% if has_category_filter == true %}
                                <th>
                                    {% if not(activate_drag_and_drop) %}
                                        <input type="button" class="btn" name="products_filter_position_asc" value="{{ trans("Sort on this category", {}, 'AdminProducts') }}" onclick="productOrderPrioritiesTable();" />
                                    {% endif %}
                                </th>
                            {% endif %}
                            <th>
                                <input type="submit" class="btn btn-primary" name="products_filter_submit" value="{{ trans("Filter", {}, 'AdminProducts') }}" />
                                <input type="reset" class="btn btn-warning" name="products_filter_reset" onclick="productColumnFilterReset($(this).closest('tr.column-filters'))" value="{{ trans("Reset", {}, 'AdminProducts') }}" />
                            </th>
                        </tr>
                    </thead>
                    {% render controller('PrestaShopBundle\\Controller\\Admin\\ProductController::listAction',
                      {'limit': limit, 'offset': offset, 'orderBy': orderBy, 'sortOrder': sortOrder, 'products': products})
                    %}
                    <tfooter>

                    </tfooter>
                </table>
            </div>
            
            <div class="row">
                <div class="pull-left" bulkurl="{{ path('admin_product_bulk_action', {'action': 'activate_all'}) }}"
                     massediturl="{{ path('admin_product_mass_edit_action', {'action': 'sort'}) }}"
                     redirecturl="{{ path('admin_product_catalog', {'limit': limit, 'offset': offset, 'orderBy': orderBy, 'sortOrder': sortOrder}) }}"
                     redirecturlnextpage="{{ path('admin_product_catalog', {'limit': limit, 'offset': offset+limit, 'orderBy': orderBy, 'sortOrder': sortOrder}) }}">
                
                    {% include 'PrestaShopBundle:Admin/Helpers:dropdown_menu.html.twig' with {
                        'div_style': "btn-group dropup",
                        'button_id': "product_bulk_menu",
                        'disabled': true,
                        'menu_label': trans("Selection actions", {}, 'AdminTab'),
                        'menu_icon': "icon-caret-up",
                        'items':[
                            {
                                "onclick": "bulkProductAction(this, 'activate_all');",
                                "icon": "icon-power-off",
                                "label": trans("Activate selection", {}, 'AdminTab')
                            },
                            {
                                "onclick": "bulkProductAction(this, 'deactivate_all');",
                                "icon": "icon-power-off",
                                "label": trans("Deactivate selection", {}, 'AdminTab')
                            },
                            {"divider": true},
                            {
                            "onclick": "bulkProductAction(this, 'duplicate_all');",
                            "icon": "icon-copy",
                            "label": trans("Duplicate selection", {}, 'AdminTab')
                            },
                            {"divider": true},
                            {
                                "onclick": "bulkProductAction(this, 'delete_all');",
                                "icon": "icon-trash",
                                "label": trans("Delete selection", {}, 'AdminTab')
                            }
                        ]
                    } %}
                    {% include 'PrestaShopBundle:Admin/Helpers:dropdown_menu.html.twig' with {
                        'div_style': "btn-group dropup",
                        'button_id': "product_bulk_menu",
                        'menu_label': trans("Bulk actions", {}, 'AdminTab'),
                        'menu_icon': "icon-caret-up",
                        'items':[
                            {
                                "href": "javascript:bulkProductEdition(this, 'quantity_edition');",
                                "icon": "icon-pencil",
                                "label": trans("Edit quantities", {}, 'AdminTab')
                            }
                        ]
                    } %}
                    
                    <div style="display: inline; margin-left: 2em;">
                        <span id="bulk_edition_toolbar" style="display: none;">
                            <input type="button" id="bulk_edition_save_keep" class="btn" onclick="bulkProductAction(this, 'edition');" value="{{ trans("Save & refresh", {}, 'AdminProducts')|raw }}" />
                            <input type="submit" id="bulk_edition_save_next" class="btn btn-primary" onclick="return bulkProductAction(this, 'edition_next');" value="{{ trans("Save & next page", {}, 'AdminProducts')|raw }}" />
                            <input type="button" class="btn btn-warning" onclick="bulkProductEdition(this, 'cancel');" value="{{ trans("Cancel", {}, 'AdminProducts') }}" />
                        </span>
                    </div>
                </div>
                <div class="pull-right">
                    {% render controller('PrestaShopBundle\\Controller\\Admin\\CommonController::paginationAction',
                      {'limit': limit, 'offset': offset, 'total': product_count_filtered, 'caller_parameters': pagination_parameters})
                    %}
                </div>
            </div>
        </form>
    </div>

    {% embed 'PrestaShopBundle:Admin/Helpers:bootstrap_popup.html.twig' with {
        'id': "catalog_duplication_modal",
        'title': trans("Duplication in progress...", {}, 'AdminProducts'),
        'closable': true,
        'progressbar': {
            'id': "catalog_duplication_progression",
            'label': trans("Duplicating...", {}, 'AdminProducts')
        },
        'actions': [],
    } %}
        {% block content %}
            <div class="modal-body">
                {{ trans('Duplication can take time. Please wait...', {}, 'AdminProducts') }}
                <br/>
                <span id="catalog_duplication_failure" style="display: none;color: darkred;">
                    {{ trans('Duplication failed!', {}, 'AdminProducts') }}
                </span>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
