{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
	{% javascripts
		'@PrestaShopBundle/Resources/public/admin/extra-js/product/catalog.js'
	    '@PrestaShopBundle/Resources/public/admin/extra-js/pagination.js'
	    '../js/jquery/ui/jquery.ui.sortable.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}

    <!--## STATS BANNER TO REINTEGRATE SOON!-->
    
    <!--## QUICK HELP GREEN BANNER TO REINTEGRATE SOON!-->
    
    <div id="product_catalog_category_tree_filter" class="panel">
        {{ "Categories"|trans }} &nbsp;
        <input type="button" name="product_catalog_category_tree_filter_reset" value="Unselect"
            onclick="productCategoryFilterReset($('div#product_catalog_category_tree_filter'))"
            class="pull-right btn" />
        <div class="form-wrapper">
            {{ form_widget(categories) }}
        </div>
    </div>
    
    <div class="panel col-lg-12">
        <div class="panel-heading">
            {{ "Products"|trans }} {% if has_filter == true %} {{ "(filtered)"|trans }} {% endif %}
            <span class="badge">{% if has_filter == true %}{{ product_count_filtered }} / {% endif %}{{ product_count }}</span>
        </div>
    
        <form name="product_catalog_list" id="product_catalog_list" method="post" action="{{ post_url }}" orderingurl="{{ ordering_url }}" >
            <input type="hidden" name="filter_category" value="{{ filter_category|default('') }}" />
            <table class="table product" redirecturl="{{ unit_redirect_url }}">
                <theader>
                    <tr class="column-headers">
                        <th>
                            <input type="checkbox" id="bulk_action_select_all" onclick="$(this).closest('table').find('td.checkbox-column input:checkbox').prop('checked', $(this).prop('checked')); updateBulkMenu();" />
                        </th>
                        <th>
                            {{ "ID"|trans }}
                            &nbsp;<span psorderby="id_product" psorderway="asc" class="icon-caret-up"></span>
                            &nbsp;<span psorderby="id_product" psorderway="desc" class="icon-caret-down"></span>
                        </th>
                        <th>
                            {{ "Image"|trans }}
                        </th>
                        <th>
                            {{ "Name"|trans }}
                            &nbsp;<span psorderby="name" psorderway="asc" class="icon-caret-up"></span>
                            &nbsp;<span psorderby="name" psorderway="desc" class="icon-caret-down"></span>
                        </th>
                        <th>
                            {{ "Reference"|trans }}
                            &nbsp;<span psorderby="reference" psorderway="asc" class="icon-caret-up"></span>
                            &nbsp;<span psorderby="reference" psorderway="desc" class="icon-caret-down"></span>
                        </th>
                        <th>
                            {{ "Category"|trans }}
                            &nbsp;<span psorderby="name_category" psorderway="asc" class="icon-caret-up"></span>
                            &nbsp;<span psorderby="name_category" psorderway="desc" class="icon-caret-down"></span>
                        </th>
                        <th>
                            {{ "Base price"|trans }}
                            &nbsp;<span psorderby="price" psorderway="asc" class="icon-caret-up"></span>
                            &nbsp;<span psorderby="price" psorderway="desc" class="icon-caret-down"></span>
                        </th>
                        <th>
                            {{ "Final price"|trans }}
                        </th>
                        <th>
                            {{ "Quantity"|trans }}
                            &nbsp;<span psorderby="sav_quantity" psorderway="asc" class="icon-caret-up"></span>
                            &nbsp;<span psorderby="sav_quantity" psorderway="desc" class="icon-caret-down"></span>
                        </th>
                        <th>
                            {{ "Status"|trans }}
                            &nbsp;<span psorderby="active" psorderway="asc" class="icon-caret-up"></span>
                            &nbsp;<span psorderby="active" psorderway="desc" class="icon-caret-down"></span>
                        </th>
                        {% if has_category_filter == true %}
                            <th>
                                {{ "Position"|trans }}
                                &nbsp;<span psorderby="position" psorderway="asc" class="icon-caret-up"></span>
                                &nbsp;<span psorderby="position" psorderway="desc" class="icon-caret-down"></span>
                            </th>
                        {% endif %}
                        <th>&nbsp;</th>
                    </tr>
                    <tr class="column-filters">
                        <td>&nbsp;</td>
                        <td>
                            <input type="text" placeholder="{{ "Exact ID matching"|trans }}" name="filter_column_id_product" value="{{ filter_column_id_product }}" />
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <input type="text" placeholder="{{ "Partial name allowed"|trans }}" name="filter_column_name" value="{{ filter_column_name }}" />
                        </td>
                        <td>
                            <input type="text" placeholder="{{ "Partial reference allowed"|trans }}" name="filter_column_reference" value="{{ filter_column_reference }}" />
                        </td>
                        <td>
                            <input type="text" placeholder="{{ "Partial category name allowed"|trans }}" name="filter_column_name_category" value="{{ filter_column_name_category }}" />
                        </td>
                        <td>
                            {% include 'PrestaShopBundle:Admin/Helpers:range_slider.html.twig' with {
                                'input_name': "filter_column_price",
                                'min': '0',
                                'max': '5000',
                                'scale': 'logarithmic',
                                'value': filter_column_price,
                            } %}
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            {% include 'PrestaShopBundle:Admin/Helpers:range_slider.html.twig' with {
                                'input_name': "filter_column_sav_quantity",
                                'min': '0',
                                'max': '1000',
                                'scale': 'logarithmic',
                                'value': filter_column_sav_quantity,
                            } %}
                        </td>
                        <td>
                            <select name="filter_column_active">
                                <option value=""></option>
                                <option value="1" {% if (filter_column_active is defined) and filter_column_active == '1' %}selected="selected"{% endif %}>Active</option>
                                <option value="0" {% if (filter_column_active is defined) and filter_column_active == '0' %}selected="selected"{% endif %}>Inactive</option>
                            </select>
                        </td>
                        {% if has_category_filter == true %}
                            <td>
                                {% if not(activate_drag_and_drop) %}
                                    <input type="button" class="btn" name="products_filter_position_asc" value="{{ "Sort on this category"|trans }}" onclick="productOrderPrioritiesTable('position', 'asc');" />
                                {% endif %}
                            </td>
                        {% endif %}
                        <td>
                            <input type="submit" class="btn btn-primary" name="products_filter_submit" value="{{ "Filter"|trans }}" />
                            <input type="reset" class="btn btn-warning" name="products_filter_reset" onclick="productColumnFilterReset($(this).closest('tr.column-filters'))" value="{{ "Reset"|trans }}" />
                        </td>
                    </tr>
                </theader>
                {% render controller('PrestaShopBundle\\Controller\\Admin\\ProductController::listAction',
                  {'limit': limit, 'offset': offset, 'orderBy': orderBy, 'sortOrder': sortOrder, 'products': products})
                %}
                <tfooter>
                    
                </tfooter>
            </table>
            
            <div class="row">
                <div class="pull-left" bulkurl="{{ bulk_url }}" redirecturl="{{ bulk_redirect_url }}">
                
                    {% include 'PrestaShopBundle:Admin/Helpers:dropdown_menu.html.twig' with {
                        'div_style': "btn-group dropup",
                        'button_id': "product_bulk_menu",
                        'disabled': true,
                        'menu_label': "Selection actions"|trans({}, 'AdminTab'),
                        'menu_icon': "icon-caret-up",
                        'items':[
                            {
                                "onclick": "bulkProductAction(this, 'activate_all');",
                                "icon": "icon-power-off",
                                "label": "Activate selection"|trans({}, 'AdminTab')
                            },
                            {
                                "onclick": "bulkProductAction(this, 'deactivate_all');",
                                "icon": "icon-power-off",
                                "label": "Deactivate selection"|trans({}, 'AdminTab')
                            },
                            {"divider": true},
                            {
                                "onclick": "bulkProductAction(this, 'delete_all');",
                                "icon": "icon-trash",
                                "label": "Delete selection"|trans({}, 'AdminTab')
                            }
                        ]
                    } %}
                    {% include 'PrestaShopBundle:Admin/Helpers:dropdown_menu.html.twig' with {
                        'div_style': "btn-group dropup",
                        'button_id': "product_bulk_menu",
                        'menu_label': "Bulk actions"|trans({}, 'AdminTab'),
                        'menu_icon': "icon-caret-up",
                        'items':[
                            {
                                "href": "javascript:bulkProductEdition(this, 'quantity_edition');",
                                "icon": "icon-pencil",
                                "label": "Edit quantities"|trans({}, 'AdminTab')
                            }
                        ]
                    } %}
                        
                    <div style="display: inline; margin-left: 2em;">
                        <span id="bulk_edition_toolbar" style="display: none;">
                            <input type="button" class="btn" onclick="bulkProductAction(this, 'edition');" value="{{ "Save & refresh"|trans|raw }}" />
                            <input type="submit" class="btn btn-primary" onclick="return bulkProductAction(this, 'edition_next');" value="{{ "Save & next page"|trans|raw }}" />
                            <input type="button" class="btn btn-warning" onclick="bulkProductEdition(this, 'cancel');" value="{{ "Cancel"|trans }}" />
                        </span>
                    </div>
                </div>
                <div class="pull-right">
                    {% render controller('PrestaShopBundle\\Controller\\Admin\\CommonController::paginationAction',
                      {'limit': limit, 'offset': offset, 'total': product_count, 'caller_parameters': pagination_parameters})
                    %}
                </div>
            </div>
        </form>
    </div>

{% endblock %}
