{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
<div class="col-lg-12 text-center">
    {% image '@PrestaShopBundle/Resources/public/admin/images/create_product.png' package='admin' %} <img src="{{ asset_url }}" alt="{{ trans('Create a new product', [], 'AdminProducts') }}" /> {% endimage %}
    <br/>
    <a class="btn btn-primary" id="product_empty_list_add_btn" href="{{ path('admin_product_new') }}">{{ trans('Add your first product', [], 'AdminProducts') }}</a>
    <br/><br/>
    <a href="{{ import_url }}" id="product_empty_list_go_to_import">{{ trans('or import a list of product (.csv file)', [], 'AdminProducts') }}</a>
</div>
{% endblock %}
