{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
    <div class="panel">
        <form name="form" id="form" method="post" class="form-horizontal" novalidate="novalidate">
            <div class="col-lg-12">
                <div id="form_bubbling_errors">
                    {{ form_errors(form) }}
                </div>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#step1" role="tab" data-toggle="tab">{{ trans('Your product') }}</a></li>
                <li><a href="#step2" role="tab" data-toggle="tab">{{ trans('Quantity') }}</a></li>
                <li><a href="#step3" role="tab" data-toggle="tab">{{ trans('Shipping') }}</a></li>
                <li><a href="#step4" role="tab" data-toggle="tab">{{ trans('SEO') }}</a></li>
                <li><a href="#step5" role="tab" data-toggle="tab">{{ trans('Options') }}</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane panel panel-default active" id="step1">
                    {{ form_widget(form.step1) }}
                    <div class="text-right">
                        <a class="btn btn-primary btn-next">{{ trans('CONTINUE') }}</a>
                        <input type="submit" id="submit" value="{{ trans('SAVE') }}" class="btn btn-warning" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane panel panel-default" id="step2">
                    {{ form_widget(form.step2) }}
                    <div class="text-right">
                        <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS') }}</a>
                        <a class="btn btn-primary btn-next">{{ trans('CONTINUE') }}</a>
                        <input type="submit" value="{{ trans('SAVE') }}" class="btn btn-warning" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane panel panel-default" id="step3">
                    {{ form_widget(form.step3) }}
                    <div class="text-right">
                        <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS') }}</a>
                        <a class="btn btn-primary btn-next">{{ trans('CONTINUE') }}</a>
                        <input type="submit" id="submit" value="{{ trans('SAVE') }}" class="btn btn-warning" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane panel panel-default" id="step4">
                    {{ form_widget(form.step4) }}
                    <div class="text-right">
                        <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS') }}</a>
                        <a class="btn btn-primary btn-next">{{ trans('CONTINUE') }}</a>
                        <input type="submit" id="submit" value="{{ trans('SAVE') }}" class="btn btn-warning" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane panel panel-default" id="step5">
                    {{ form_widget(form.step5) }}
                    <div class="text-right">
                        <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS') }}</a>
                        <input type="submit" id="submit" value="{{ trans('SAVE') }}" class="btn btn-warning" />
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ root_url }}js/vendor/node_modules/dropzone/dist/min/dropzone.min.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ root_url }}js/tiny_mce/tiny_mce.js"></script>
    <script src="{{ root_url }}js/admin/tinymce.inc.js"></script>
    <script src="{{ root_url }}js/admin/tinymce_loader.js"></script>
    <script src="{{ root_url }}js/vendor/node_modules/typeahead.js/dist/typeahead.jquery.min.js"></script>
    <script src="{{ root_url }}js/vendor/node_modules/typeahead.js/dist/bloodhound.min.js"></script>
    <script src="{{ root_url }}js/vendor/node_modules/dropzone/dist/min/dropzone.min.js"></script>
    <script src="{{ root_url }}js/vendor/node_modules/sprintf-js/dist/sprintf.min.js"></script>

    {% javascripts '@PrestaShopBundle/Resources/public/admin/extra-js/product/form.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% set js_translatable = {
    "Form update success": trans("Form update success"),
    "Form update errors": trans("Form update errors"),
}|merge(js_translatable) %}
