{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
    <div class="panel">
        <form name="form" id="form" method="post" class="form-horizontal" novalidate="novalidate">
            <div class="col-lg-12">
                <div id="form_bubbling_errors">
                    {{ form_errors(form) }}
                </div>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#step1" role="tab" data-toggle="tab">{{ trans('Your product') }}</a></li>
                <li><a href="#step2" role="tab" data-toggle="tab">{{ trans('Price') }}</a></li>
                <li><a href="#step3" role="tab" data-toggle="tab">{{ trans('Quantity') }}</a></li>
                <li><a href="#step4" role="tab" data-toggle="tab">{{ trans('Shipping') }}</a></li>
                <li><a href="#step5" role="tab" data-toggle="tab">{{ trans('SEO') }}</a></li>
                <li><a href="#step6" role="tab" data-toggle="tab">{{ trans('Options') }}</a></li>
                {% if hookcount('displayAdminProductsExtra') > 0 %}
                    <li><a href="#hooks" role="tab" data-toggle="tab">{{ trans('HOOKS') }}</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane panel panel-default active" id="step1">
                    <div class="col-lg-9">
                        {{ form_row(form.step1.type_product) }}
                        {{ form_row(form.step1.name) }}
                        {{ form_row(form.step1.description) }}
                        {{ form_row(form.step1.images) }}
                        {{ form_row(form.step1.upc) }}
                        {{ form_row(form.step1.ean13) }}
                        {{ form_row(form.step1.isbn) }}
                        {{ form_row(form.step1.reference) }}
                        {{ form_row(form.step1.condition) }}
                        <div class="form-group">
                            {{ form_label(form.step1.features) }}
                            <div class="col-sm-10">
                                {{ form_errors(form.step1.features) }}
                                <ul class="featureCollection" data-prototype="{{ form_widget(form.step1.features.vars.prototype)|e }}">
                                    {% for feature in form.step1.features %}
                                        <li>
                                            <a href="#" class="delete btn btn-primary btn-xs">-</a>
                                            {{ form_widget(feature) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="panel">
                            {{ form_row(form.step1.active) }}
                            <hr/>
                            <div class="form-group">
                                {{ form_errors(form.step1.price_shortcut) }}
                                <label class="col-xs-6 control-label">{{ trans("Pre-tax retail price") }}</label>
                                <div class="col-xs-6 pull-right">
                                    {{ form_widget(form.step1.price_shortcut) }}
                                </div>
                            </div>
                            <div class="form-group" id="product_qty_0_shortcut_div" style="{% if has_combinations %}display: none;{% endif %}">
                                {{ form_errors(form.step1.qty_0_shortcut) }}
                                <label class="col-xs-6 control-label">{{ trans("Quantity") }}</label>
                                <div class="col-xs-6 pull-right">
                                    {{ form_widget(form.step1.qty_0_shortcut) }}
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">{{ trans("Categories") }}</div>
                            <div class="panel-body">
                                {{ form_errors(form.step1.categories) }}
                                {{ form_widget(form.step1.categories) }}
                                <hr/>
                                <h4>{{ trans("Default category") }}</h4>
                                {{ form_errors(form.step1.id_category_default) }}
                                {{ form_widget(form.step1.id_category_default) }}
                                <hr/>
                                <div id="form_step1_new_category" data-action="{{ form.step1.new_category.vars.attr["data-action"] }}">
                                    <h4>{{ trans("Add a new category") }}</h4>
                                    {{ form_errors(form.step1.new_category) }}
                                    {{ form_widget(form.step1.new_category.name) }}
                                    {{ form_widget(form.step1.new_category.id_parent) }}
                                    {{ form_widget(form.step1.new_category.save) }}
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">{{ trans("Manufacturer") }}</div>
                            <div class="panel-body">
                                {{ form_errors(form.step1.id_manufacturer) }}
                                {{ form_widget(form.step1.id_manufacturer) }}
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">{{ trans("Accessories") }} </div>
                            <div class="panel-body">
                                {{ form_errors(form.step1.related_products) }}
                                {{ form_widget(form.step1.related_products) }}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-right">
                        <a class="btn btn-primary btn-next">{{ trans('CONTINUE') }}</a>
                        <input type="submit" id="submit" value="{{ trans('SAVE') }}" class="btn btn-submit btn-warning" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane panel panel-default" id="step2">
                    {{ form_row(form.step2.price) }}
                    {{ form_row(form.step2.id_tax_rules_group) }}
                    {{ form_row(form.step2.price_ttc) }}
                    {{ form_row(form.step2.on_sale) }}
                    {{ form_row(form.step2.wholesale_price) }}
                    {{ form_row(form.step2.unit_price) }}
                    {{ form_row(form.step2.unity) }}
                    <div class="form-group">
                        {{ form_label(form.step2.specific_price) }}
                        <div class="col-sm-10">
                            <table id="js-specific-price-list" class="table table-striped hide" data="{{ path('admin_specific_price_list') }}" data-action-delete="{{ path('admin_delete_specific_price') }}">
                                <thead>
                                <tr>
                                    <th>{{ trans('Rule') }}</th>
                                    <th>{{ trans('Combination') }}</th>
                                    <th>{{ trans('Shop') }}</th>
                                    <th>{{ trans('Currency') }}</th>
                                    <th>{{ trans('Country') }}</th>
                                    <th>{{ trans('Group') }}</th>
                                    <th>{{ trans('Customer') }}</th>
                                    <th>{{ trans('Fixed price') }}</th>
                                    <th>{{ trans('Impact') }}</th>
                                    <th>{{ trans('Period') }}</th>
                                    <th>{{ trans('From (quantity)') }}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <div class="well">
                                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#specific_price_form" aria-expanded="false">
                                    {{ trans('Add a specific price') }}
                                </a>
                                <div class="collapse" id="specific_price_form" data-action="{{ path('admin_specific_price_add') }}">
                                    {{ form_errors(form.step2.specific_price) }}
                                    {{ form_widget(form.step2.specific_price) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2">
                            <h3>{{ trans('Priority management') }}</h3>
                        </div>
                        <label class="col-sm-2 control-label">{{ trans('Priorities') }}</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.step2.specificPricePriority_0) }}
                            {{ form_widget(form.step2.specificPricePriority_1) }}
                            {{ form_widget(form.step2.specificPricePriority_2) }}
                            {{ form_widget(form.step2.specificPricePriority_3) }}

                            {{ form_widget(form.step2.specificPricePriorityToAll) }}
                        </div>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS') }}</a>
                        <a class="btn btn-primary btn-next">{{ trans('CONTINUE') }}</a>
                        <input type="submit" value="{{ trans('SAVE') }}" class="btn btn-submit btn-warning" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane panel panel-default" id="step3">
                    {% if asm_globally_activated and form.step1.type_product.vars.value != "2" %}
                        <div class="form-group" id="asm_quantity_management">
                            <label class="col-sm-2 control-label" for="form_step3_advanced_stock_management"></label>
                            <div class="col-sm-10">
                                {{ form_errors(form.step3.advanced_stock_management) }}
                                {{ form_widget(form.step3.advanced_stock_management) }}
                                {% if form.step1.type_product.vars.value == "1" %}
                                    {{ trans('When enabling advanced stock management for a pack, please make sure it is also enabled for its product(s) – if you choose to decrement product quantities.') }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group" id="depends_on_stock_div" style="{% if not(form.step3.advanced_stock_management.vars.checked) %}display: none;{% endif %}">
                            <label class="col-sm-2 control-label" for="form_step3_depends_on_stock"></label>
                            <div class="col-sm-10">
                                {{ form_errors(form.step3.depends_on_stock) }}
                                {{ form_widget(form.step3.depends_on_stock) }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group" id="quantity-no-attribute">
                        {{ form_label(form.step3.qty_0) }}
                        <div class="col-sm-10">
                            {{ form_errors(form.step3.qty_0) }}
                            {{ form_widget(form.step3.qty_0, {'attr': (has_combinations or (form.step3.depends_on_stock.vars.value != "0"))?{'readonly': 'readonly'}:{}}) }}
                        </div>
                    </div>

                    <div class="form-group" id="attributes-generator">
                        {{ form_label(form.step3.attributes) }}
                        <div class="col-sm-8">
                            {{ form_errors(form.step3.attributes) }}
                            {{ form_widget(form.step3.attributes) }}
                        </div>
                        <div class="col-sm-2">
                            <input type="button" id="create-combinations" class="btn btn-primary" value="Create"/>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_errors(form.step3.combinations) }}
                        {% if form.step3.combinations|length > 0 %}
                        <div class="uppercase">
                            <div class="col-lg-4 pull-left">{{ trans('Product') }}</div>
                            <div class="col-lg-4 pull-left">
                                <span class="col-lg-4">{{ trans('Impact on weight') }}</span>
                                <span class="col-lg-4">{{ trans('Impact on price') }}</span>
                                <span class="col-lg-4">{{ trans('Quantity') }}</span>
                            </div>
                        </div>
                        <hr/>
                        {% endif %}

                        <div class="panel-group accordion" id="accordion_combinations" data-prototype="{{ form_widget(form.step3.combinations.vars.prototype)|e }}" data-action-delete="{{ path('admin_delete_attribute') }}">
                            {% for combination in form.step3.combinations %}
                            <div class="panel panel-default combination" id="attribute_{{ combination.vars.value.id_product_attribute }}">
                                <div class="panel-title">
                                    <div class="col-lg-4 pull-left">
                                        <a data-toggle="collapse" data-parent="#accordion_combinations" href="#combination_form_{{ combination.vars.value.id_product_attribute }}">
                                            {{ combination.vars.value.name }}
                                        </a>
                                    </div>
                                    <div class="col-lg-4 pull-left">
                                        <span class="small col-lg-4 attribute-weight">{{ combination.vars.value.attribute_weight }} kg</span>
                                        <span class="small col-lg-4 attribute-price-display">{{ combination.vars.value.attribute_price_display }}</span>
                                        <span class="small col-lg-4 attribute-quantity">{{ combination.vars.value.attribute_quantity }}</span>
                                    </div>
                                    <div class="col-lg-2 pull-right text-right">
                                        <a class="btn btn-default btn-sm" data-toggle="collapse" data-parent="#accordion_combinations" href="#combination_form_{{ combination.vars.value.id_product_attribute }}">Open</a>
                                        <a href="{{ path('admin_delete_attribute', {'idAttribute': combination.vars.value.id_product_attribute, 'idProduct': id_product}) }}" class="btn btn-default btn-sm delete" data="{{ combination.vars.value.id_product_attribute }}">delete</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div id="combination_form_{{ combination.vars.value.id_product_attribute }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ form_widget(combination) }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="text-right">
                        <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS') }}</a>
                        <a class="btn btn-primary btn-next">{{ trans('CONTINUE') }}</a>
                        <input type="submit" value="{{ trans('SAVE') }}" class="btn btn-submit btn-warning" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane panel panel-default" id="step4">
                    {{ form_widget(form.step4) }}
                    <div class="text-right">
                        <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS') }}</a>
                        <a class="btn btn-primary btn-next">{{ trans('CONTINUE') }}</a>
                        <input type="submit" id="submit" value="{{ trans('SAVE') }}" class="btn btn-submit btn-warning" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane panel panel-default" id="step5">
                    {{ form_widget(form.step5) }}
                    <div class="text-right">
                        <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS') }}</a>
                        <a class="btn btn-primary btn-next">{{ trans('CONTINUE') }}</a>
                        <input type="submit" id="submit" value="{{ trans('SAVE') }}" class="btn btn-submit btn-warning" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane panel panel-default" id="step6">
                    {{ form_widget(form.step6) }}
                    <div class="text-right">
                        <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS') }}</a>
                        {% if hookcount('displayAdminProductsExtra') > 0 %}
                            <a class="btn btn-primary btn-next">{{ trans('CONTINUE') }}</a>
                        {% endif %}
                        <input type="submit" id="submit" value="{{ trans('SAVE') }}" class="btn btn-submit btn-warning" />
                    </div>
                </div>
                {% if hookcount('displayAdminProductsExtra') > 0 %}
                <div role="tabpanel" class="tab-pane panel panel-default" id="hooks">
                    {{ renderhook('displayAdminProductsExtra', {'id_product': id_product}) }}
                    <div class="text-right">
                        <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS') }}</a>
                        <input type="submit" id="submit" value="{{ trans('SAVE') }}" class="btn btn-warning" />
                    </div>
                </div>
                {% endif %}
            </div>
            {{ form_widget(form.id_product) }}
            {{ form_widget(form._token) }}
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '../js/vendor/node_modules/dropzone/dist/min/dropzone.min.css'
    '../js/vendor/node_modules/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css'
    '../js/vendor/node_modules/bootstrap-tokenfield/dist/css/tokenfield-typeahead.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@PrestaShopBundle/Resources/public/admin/extra-js/product/form.js'
    '@PrestaShopBundle/Resources/public/admin/extra-js/category-tree.js'
    '../js/tiny_mce/tiny_mce.js'
    '../js/admin/tinymce.product.inc.js'
    '../js/admin/tinymce_loader.js'
    '../js/vendor/node_modules/typeahead.js/dist/typeahead.jquery.min.js'
    '../js/vendor/node_modules/typeahead.js/dist/bloodhound.min.js'
    '../js/vendor/node_modules/dropzone/dist/min/dropzone.min.js'
    '../js/vendor/node_modules/sprintf-js/dist/sprintf.min.js'
    '../js/vendor/node_modules/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% set js_translatable = {
    "Form update success": trans("Form update success"),
    "Form update errors": trans("Form update errors"),
}|merge(js_translatable) %}
