{% extends '@MailThemes/'~templateTheme~'/components/layout.html.twig' %}

{% block content %}
<tr>
  <td align="center" class="titleblock">
    <font size="2" face="{{ languageDefaultFont }}Open-sans, sans-serif" color="#555454">
      <span class="title">{{ 'Hi {firstname} {lastname},'|trans({}, 'EmailsBody', locale) }}</span><br/>
      <span class="subtitle">{{ 'Thank you for shopping with {shop_name}!'|trans({}, 'EmailsBody', locale) }}</span>
    </font>
  </td>
</tr>
<tr>
  <td class="space_footer">&nbsp;</td>
</tr>
<tr>
  <td class="box" style="border:1px solid #D6D4D4;">
    <table class="table">
      <tr>
        <td width="10">&nbsp;</td>
        <td>
          <font size="2" face="{{ languageDefaultFont }}Open-sans, sans-serif" color="#555454">
            <p data-html-only="1" style="border-bottom:1px solid #D6D4D4;">
              {{ 'Order {order_name}'|trans({}, 'EmailsBody', locale) }}&nbsp;-&nbsp;{{ 'Awaiting wire payment'|trans({}, 'EmailsBody', locale) }}
            </p>
            <span>
              {{ 'Your order with the reference <span><strong>{order_name}</strong></span> has been placed successfully and will be <strong>shipped as soon as we receive your payment</strong>.'|trans({}, 'EmailsBody', locale) }}
            </span>
          </font>
        </td>
        <td width="10">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class="space_footer">&nbsp;</td>
</tr>
<tr>
  <td class="box" style="border:1px solid #D6D4D4;">
    <table class="table">
      <tr>
        <td width="10">&nbsp;</td>
        <td>
          <font size="2" face="{{ languageDefaultFont }}Open-sans, sans-serif" color="#555454">
            <p style="border-bottom:1px solid #D6D4D4;">
              {{ 'You have selected to pay by wire transfer.'|trans({}, 'EmailsBody', locale) }}
            </p>
            <span>
              {{ 'Here are the bank details for your transfer:'|trans({}, 'EmailsBody', locale) }}<br />
              <span><strong>{{ 'Amount:'|trans({}, 'EmailsBody', locale) }}</strong></span> {total_paid}<br />
              <span><strong>{{ 'Account owner:'|trans({}, 'EmailsBody', locale) }}</strong></span> {bankwire_owner}<br />
              <span><strong>{{ 'Account details:'|trans({}, 'EmailsBody', locale) }}</strong></span> {bankwire_details}<br />
              <span><strong>{{ 'Bank address:'|trans({}, 'EmailsBody', locale) }}</strong></span> {bankwire_address}<br />
                            {{ 'Please specify your order reference in the bankwire description.'|trans({}, 'EmailsBody', locale) }}
            </span>
          </font>
        </td>
        <td width="10">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class="space_footer">&nbsp;</td>
</tr>
<tr>
  <td class="linkbelow">
    <font size="2" face="{{ languageDefaultFont }}Open-sans, sans-serif" color="#555454">
      <span>
        {{ 'You can review your order and download your invoice from the <a href="{history_url}">"Order history"</a> section of your customer account by clicking <a href="{my_account_url}">"My account"</a> on our shop.'|trans({}, 'EmailsBody', locale) }}
      </span>
    </font>
  </td>
</tr>
<tr>
  <td class="linkbelow">
    <font size="2" face="{{ languageDefaultFont }}Open-sans, sans-serif" color="#555454">
      <span>
        {{ 'If you have a guest account, you can follow your order via the <a href="{guest_tracking_url}">"Guest Tracking"</a> section on our shop.'|trans({}, 'EmailsBody', locale) }}
      </span>
    </font>
  </td>
</tr>
{% endblock %}