{% extends '@MailThemes/classic/components/layout.html.twig' %}

{% block content %}
<tr>
  <td align="center" class="titleblock">
    <font size="2" face="{{ languageDefaultFont }}Open-sans, sans-serif" color="#555454">
      <span class="title">{{ 'Message from a {shop_name} customer'|trans({}, 'Emails.Body', locale) }}</span>
    </font>
  </td>
</tr>
<tr>
  <td class="space_footer">&nbsp;</td>
</tr>
<tr>
  <td class="box" style="border:1px solid #D6D4D4;">
    <table class="table">
      <tr>
        <td width="10">&nbsp;</td>
        <td>
          <font size="2" face="{{ languageDefaultFont }}Open-sans, sans-serif" color="#555454">
            <span>
              <span><strong>{{ 'Customer e-mail address:'|trans({}, 'Emails.Body', locale)|raw }} <a href="mailto:{email}">{email}</a></strong></span><br/><br/>
              <span><strong>{{ 'Customer message:'|trans({}, 'Emails.Body', locale)|raw }}</strong></span> {message}<br/><br/>
              <span><strong>{{ 'Order ID:'|trans({}, 'Emails.Body', locale)|raw }}</strong></span> {order_name}<br/>
              <span><strong>{{ 'Attached file:'|trans({}, 'Emails.Body', locale)|raw }}</strong></span> {attached_file}
            </span>
          </font>
        </td>
        <td width="10">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
{% endblock %}
