{% extends '@MailThemes/classic/components/layout.html.twig' %}

{% block content %}
<tr>
  <td align="center" class="titleblock">
    <font size="2" face="{{ languageDefaultFont }}Open-sans, sans-serif" color="#555454">
      <span class="title">{{ 'Hi {firstname} {lastname},'|trans({}, 'Emails.Body', locale) }}</span>
    </font>
  </td>
</tr>
<tr>
  <td class="space_footer">&nbsp;</td>
</tr>
<tr>
  <td class="box" style="border:1px solid #D6D4D4;">
    <table class="table">
      <tr>
        <td width="10">&nbsp;</td>
        <td>
          <font size="2" face="{{ languageDefaultFont }}Open-sans, sans-serif" color="#555454">
            {% if templateType == 'html' %}

              <p style="border-bottom:1px solid #D6D4D4;">
                {{ 'Customer service - Forwarded discussion'|trans({}, 'Emails.Body', locale)|raw }}
              </p>
            
{% endif %}
            <span>
              {{ '[1]{employee}[/1] wanted to forward this discussion to you.'|trans({'[1]': '<span><strong>', '[/1]': '</strong></span>'}, 'Emails.Body', locale)|raw }} <br/><br/>
              <span><strong>{{ 'Discussion history:'|trans({}, 'Emails.Body', locale)|raw }}</strong></span> {messages}<br/><br/>
              {{ '[1]{employee}[/1] added [1]"{comment}"[/1]'|trans({'[1]': '<span><strong>', '[/1]': '</strong></span>'}, 'Emails.Body', locale)|raw }}
            </span>
          </font>
        </td>
        <td width="10">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
{% endblock %}
