<div class="pull-right btn-group">

    {% if module.url_active == 'buy' %}
        <a class="btn btn-default btn-xs light-button" href="{{module.url}}">{% if module.price.EUR is defined and module.price.EUR > 0 %}{{module.price.EUR}}{% else %}Discover{% endif %}</a>
    {% else %}
        <a class="btn btn-default btn-xs light-button" href="{{module.urls[module.url_active]}}">{{module.url_active|capitalize}}</a>
    {% endif %}

    {% if module.urls is defined and module.urls|length > 1 %}
        <button type="button" class="btn btn-default dropdown-toggle light-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
        {% for module_action, module_url in module.urls %}
            {% if module_action != module.url_active %}
                <li><a href="{{module_url}}">{{module_action|capitalize}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}

    {% if module.url_active == 'install' %}
        {# Loader for installation process #}
        <div class="loader module-install-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
           </svg>
        </div>
    {% endif %}

</div>
