{#{ dump(modules) }#}
{% if display_type is not defined %}
    {% set display_type = 'grid' %}
{% endif %}

{% if display_type == 'list' %}
    {% set col_lg = 'col-lg-12' %}
{% else %}
    {% set col_lg = 'col-lg-3 col-md-4 col-sm-6' %}
{% endif %}

<div id="modules-{{display_type}}">
    <div class="row">
        {% for module in modules %}
                <div class="module-item-{{display_type}} {{col_lg}}" data-id="{{ module.id }}" data-name="{{ module.displayName }}"
                data-logo="{{ module.media.img }}" data-author="{{ module.author }}" data-version="{{ module.version }}" data-description="{{ module.description }}"
                data-tech-name="{{module.name}}" data-categories="{{ module.refs|join('|') }}" data-type="{{module.productType}}">
                     <div class="module-item-wrapper-{{display_type}}">
                        <div class="module-item-heading-{{display_type}}" data-toggle="modal" data-target="#module-modal-read-more-{{module.name}}">
                            <img class="module-logo-thumb-{{display_type}}" src="{{ module.media.img }}" alt="{{ module.displayName }}" />
                            <div class="text-ellipsis module-name-{{display_type}}" data-toggle="tooltip" data-placement="top" title="{{ module.displayName }}">
                                {{ module.displayName }}
                            </div>
                            <div class="text-ellipsis x-small-text module-version-author-{{display_type}}">
                                {% if module.productType == "service" %}
                                    Service by {{ module.author }}
                                {% else %}
                                    v{{ module.version }} by {{ module.author }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="module-quick-description-{{display_type}} no-padding">
                            {{ module.description|raw }}
                            <div class="module-read-more-{{display_type}}">
                                <a class="module-read-more-{{display_type}}-btn" href="#" data-toggle="modal" data-target="#module-modal-read-more-{{module.name}}">Read More</a>
                            </div>
                        </div>
                        <div class="module-quick-action-{{display_type}} clearfix">
                            <div class="pull-right">
                                {% for module_action, module_url in module.urls %}
                                    <form action="{{module_url}}" data-action="{{module_action}}" {% if module.url_active is not defined or module.url_active  != module_action %}style="display: none;"{% endif %}>
                                        <input type="submit" class="light-button {% if module_action  != 'configure' %}module-install-btn{% endif %}" value="{{module_action|capitalize}}" data-url="{{module_url}}" />
                                    </form>
                                {% endfor %}
                                
                                {% if module.url is defined %}
                                <form action="{{module.url}}">
                                        <input type="submit" {% if module.url_active is not defined or module.url_active  != '' %}style="display: none;"{% endif %} class="light-button" value="{% if module.price.EUR > 0 %}{{module.price.EUR}}{% else %}Discover{% endif %}" data-url="{{module.url}}" />
                                </form>
                                {% endif %}
                                
                                <div class="loader module-install-loader">
                                    <svg class="circular" viewBox="25 25 50 50">
                                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                                   </svg>
                                </div>

                            </div>
                        </div>
                        {% include 'PrestaShopBundle:Admin/Module/_partials:_modules_modal_read_more.html.twig' with { 'module': module } %}
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
