g<div id="modules-list">
    <div class="row">
        {% for module in modules %}
                <div class="module-item-list col-md-12" data-id="{{ module.id }}" data-name="{{ module.displayName }}"
                data-logo="{{ module.media.img }}" data-module-author="{{ module.author }}" data-version="{{ module.version }}" data-desc="{{ module.description }}"
                data-tech-name="{{module.name}}">
                    <div class="?">
                        <img class="module-logo-thumb-list" height="15" width="15" src="{{ module.media.img }}" alt="{{ module.displayName }}" />
                        <div class="text-ellipsis module-name-list">
                            {{ module.displayName }}
                        </div>
                        <div class="x-small-text module-version-author-list">
                            v{{ module.version }} by {{ module.author }}
                        </div>
                    </div>
                    <div class="module-quick-description-list no-padding">
                        {{ module.description }}
                    </div>
                    <div class="module-quick-action-list clearfix">
                        <div class="pull-right">
                            <input type="button" class="light-button" value="FREE" data-toggle="modal" data-target="#module-modal-{{module.name}}" />
                        </div>
                    </div>
                    {# Include Modal partial and give it current module to fill in included tpl #}
                    {% include 'PrestaShopBundle:Admin/Module/_partials:_modules_modal.html.twig' with { 'module': module } %}
                </div>
        {% endfor %}
    </div>
</div>
