{#{ dump(modules) }#}
<div id="modules-grid">
    <div class="row">
        {% for module in modules %}
                <div class="module-item-grid col-lg-3 col-md-4 col-sm-6" data-id="{{ module.id }}" data-name="{{ module.displayName }}"
                data-logo="{{ module.media.img }}" data-author="{{ module.author }}" data-version="{{ module.version }}" data-description="{{ module.description }}"
                data-tech-name="{{module.name}}" data-categories="{{ module.refs|join('|') }}" data-type="{{module.productType}}">
                     <div class="module-item-wrapper-grid">
                        <div class="module-item-heading-grid" data-toggle="modal" data-target="#module-modal-read-more-{{module.name}}">
                            <img class="module-logo-thumb-grid" src="{{ module.media.img }}" alt="{{ module.displayName }}" />
                            <div class="text-ellipsis module-name-grid" data-toggle="tooltip" data-placement="top" title="{{ module.displayName }}">
                                {{ module.displayName }}
                            </div>
                            <div class="text-ellipsis x-small-text module-version-author-grid">
                                {% if module.productType == "module" %}
                                    v{{ module.version }} by {{ module.author }}
                                {% else %}
                                    Service by {{ module.author }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="module-quick-description-grid no-padding">
                            {{ module.description }}
                            <div class="module-read-more-grid">
                                <a class="module-read-more-grid-btn" href="#" data-toggle="modal" data-target="#module-modal-read-more-{{module.name}}">Read More</a>
                            </div>
                        </div>
                        <div class="module-quick-action-grid clearfix">
                            <div class="pull-right">
                                {% if module.price.EUR == 0 or module.origin == 'customer' %}
                                    <input type="button" class="light-button module-install-btn" value="Install" />
                                {% else %}
                                    <input type="button" class="light-button module-install-btn" value="{{module.price.EUR}}"/>
                                {% endif %}
                                <div class="loader module-install-loader">
                                    <svg class="circular" viewBox="25 25 50 50">
                                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                                   </svg>
                                </div>

                            </div>
                        </div>
                        {% include 'PrestaShopBundle:Admin/Module/_partials:_modules_modal_read_more.html.twig' with { 'module': module } %}
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
