<div id="modules-grid">
    <div class="row">
        {% for module in modules %}
                <div class="module-item-grid col-md-3" data-id="{{ module.id }}" data-name="{{ module.displayName }}"
                data-logo="{{ module.media.img }}" data-module-author="{{ module.author }}" data-version="{{ module.version }}" data-desc="{{ module.description }}"
                data-tech-name="{{module.name}}">
                     <div class="module-item-wrapper-grid">
                        <div class="module-item-heading-grid">
                            <img class="module-logo-thumb-grid" height="20" width="20" src="{{ module.media.img }}" alt="{{ module.displayName }}" />
                            <div class="text-ellipsis module-name-grid" data-toggle="tooltip" data-placement="top" title="{{ module.displayName }}">
                                {{ module.displayName }}
                            </div>
                            <div class="x-small-text module-version-author-grid">
                                v{{ module.version }} by {{ module.author }}
                            </div>
                        </div>
                        <div class="module-quick-description-grid no-padding">
                            {{ module.description }}
                        </div>
                        <div class="module-quick-action-grid clearfix">
                            <div class="pull-right">
                                <input type="button" class="light-button" value="FREE" data-toggle="modal" data-target="#module-modal-{{module.name}}" />
                            </div>
                        </div>
                        {# Include Modal partial and give it current module to fill in included tpl #}
                        {% include 'PrestaShopBundle:Admin/Module/_partials:_modules_modal.html.twig' with { 'module': module } %}
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
