{% dump(topMenuData) %}


<div class="container-fluid">
    <div class="row">
            {% for module in modules %}
                    <div class="module-item panel panel-default col-md-3" data-module-id="{{ module.id }}">
                        <div class="panel-heading">
                            <img class="module-logo-thumb" height="15" width="15" src="{{ module.media.img }}" alt="{{ module.displayName }}" />
                            <div class="text-ellipsis module-name">
                                {{ module.displayName }}
                            </div>
                            <div class="x-small-text module-version-author">
                                v{{ module.version }} by {{ module.author }}
                            </div>
                        </div>
                        <div class="module-quick-description no-padding panel-body">
                            {{ module.description }}
                        </div>
                        <div class="module-quick-action panel-footer">
                            <div class="pull-right">
                                <input type="button" class="light-button" value="FREE" data-toggle="modal" data-target="#module-modal-{{module.name}}" />
                            </div>
                        </div>
                        {# Include Modal partial and give it current module to fill in included tpl #}
                        {% include 'PrestaShopBundle:Admin/Module/_partials:_module_modal.html.twig' with { 'module': module } %}
                    </div>
            {% endfor %}
        </div>
    </div>



{{ dump(modules) }}
