{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('themes/new-theme/public/theme.css') }}" />
{% endblock %}

{% block title %}
  {{ 'Oops... looks like an unexpected error occurred'|trans({},'Admin.Notifications.Error' ) }}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <img class="img-responsive" src="{{ asset('themes/new-theme/img/error/500.svg') }}">

            <div class="mt-3">
              <p class="error-header">{{ 'Oops... looks like an unexpected error occurred'|trans({}, 'Admin.Notifications.Error') }}</p>

              {% if exception %}
                <p class="mb-0">{{ 'Error type:' }} {{ exception.class }}</p>
                <p class="mb-0">{{ 'Error code:' }} {{ exception.code }}</p>
                <p class="mb-0">{{ 'Error message:' }} {{ exception.message }}</p>
                <p class="mb-0 mt-2">{{ 'Enable debug mode and try again to track the issue.' }}</p>
              {% endif %}

              <div class="mt-4">
                <button class="btn btn-outline-primary mr-1">
                  {{ 'Back to previous page' }}
                </button>
                <button class="btn btn-primary">
                  {{ 'Enable debug mode' }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
