{% extends '@WebProfiler/Collector/config.html.twig' %}

{% block toolbar %}
  {% if 'unknown' == collector.symfonyState %}
    {% set block_status = '' %}
    {% set symfony_version_status = 'Unable to retrieve information about the Symfony version.' %}
  {% elseif 'eol' == collector.symfonyState %}
    {% set block_status = 'red' %}
    {% set symfony_version_status = 'This Symfony version will no longer receive security fixes.' %}
  {% elseif 'eom' == collector.symfonyState %}
    {% set block_status = 'yellow' %}
    {% set symfony_version_status = 'This Symfony version will only receive security fixes.' %}
  {% elseif 'dev' == collector.symfonyState %}
    {% set block_status = 'yellow' %}
    {% set symfony_version_status = 'This Symfony version is still in the development phase.' %}
  {% else %}
    {% set block_status = '' %}
    {% set symfony_version_status = '' %}
  {% endif %}

  {% set icon %}
      <span class="sf-toolbar-label"><img src="{{ asset('themes/new-theme/scss/img/glyph.png') }}" /></span>
      <span class="sf-toolbar-value">{{ collector.applicationversion }}</span>
  {% endset %}

  {% set text %}
    <div class="sf-toolbar-info-group">
        <div class="sf-toolbar-info-piece">
          <b>{{ collector.applicationname }}</b>
          <span>{{ collector.applicationversion }}</span>
        </div>

      <div class="sf-toolbar-info-piece">
        <b>Profiler token</b>
        <span>
          {% if profiler_url %}
            <a href="{{ profiler_url }}">{{ collector.token }}</a>
          {% else %}
            {{ collector.token }}
          {% endif %}
        </span>
      </div>

      <div class="sf-toolbar-info-piece">
        <b>Symfony</b>
        <span>
          <a href="https://symfony.com/doc/{{ collector.symfonyversion }}/index.html" rel="help">
            Read Symfony {{ collector.symfonyversion }} Docs
          </a>
        </span>
      </div>
    </div>

    <div class="sf-toolbar-info-group">
      <div class="sf-toolbar-info-piece sf-toolbar-info-php">
        <b>PHP version</b>
        <span>
        {{ collector.phpversion }}
          &nbsp; <a href="{{ path('_profiler_phpinfo') }}">View phpinfo()</a>
                </span>
      </div>

      <div class="sf-toolbar-info-piece sf-toolbar-info-php-ext">
        <b>PHP Extensions</b>
        <span class="sf-toolbar-status sf-toolbar-status-{{ collector.hasxdebug ? 'green' : 'red' }}">xdebug</span>
        <span class="sf-toolbar-status sf-toolbar-status-{{ collector.hasaccelerator ? 'green' : 'red' }}">accel</span>
      </div>

      <div class="sf-toolbar-info-piece">
        <b>PHP SAPI</b>
        <span>{{ collector.sapiName }}</span>
      </div>
    </div>

    <div class="sf-toolbar-info-group">
        <div class="sf-toolbar-info-piece">
          <b>Resources</b>
          <span>
            {% set appVersion = collector.applicationversion|split('.')|join()[:2] %}
              <a href="http://doc.prestashop.com/display/PS{{ appVersion }}" rel="help">
                  Read PrestaShop {{ collector.applicationversion }} Docs
              </a>
          </span>
        </div>
    </div>
  {% endset %}

  {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true, name: 'config', status: block_status, additional_classes: 'sf-toolbar-block-right', block_attrs: 'title="' ~ symfony_version_status ~ '"' }) }}
{% endblock %}
