{% set confirmation = 'Are you sure you want to restore the default address format for this country?'|trans({},'Admin.International.Notification') %}
<div class="col-8 address-format-actions">
  <span title=""
        class="label-tooltip"
        data-toggle="pstooltip"
        data-placement="top"
        data-original-title="{{ 'This will restore your last registered address format.'|trans({}, 'Admin.International.Help') }}"
        data-html="true">
    <a id="useLastDefaultLayout" href="javascript:void(0)"
       data-confirmation="{{ confirmation }}"
       data-default-layout="{{ encodingAddressLayout }}"
       class="btn btn-outline-secondary reset-address-layout">
      {{ 'Use the last registered format'|trans({}, 'Admin.International.Feature') }}
    </a>
  </span>
  <span title=""
        class="label-tooltip"
        data-toggle="pstooltip"
        data-placement="top"
        data-original-title="{{ 'This will restore the default address format for this country'|trans({}, 'Admin.International.Help') }}"
        data-html="true">
        <a id="useDefaultLayoutSystem"
           href="javascript:void(0)"
           data-confirmation="{{ confirmation }}"
           data-default-layout="{{ defaultLayout }}"
           class="btn btn-outline-secondary reset-address-layout">
          {{ 'Use the default format'|trans({}, 'Admin.International.Feature') }}
        </a>
  </span>
  <span title=""
        class="label-tooltip"
        data-toggle="pstooltip"
        data-placement="top"
        data-original-title="{{ 'This will restore your current address format.'|trans({}, 'Admin.International.Help') }}"
        data-html="true">
            <a id="useCurrentLastModifiedLayout"
               href="javascript:void(0)"
               data-confirmation="{{ confirmation }}"
               class="btn btn-outline-secondary reset-address-layout">
              {{ 'Use my current modified format'|trans({}, 'Admin.International.Feature') }}
            </a>
  </span>
  <span title=""
        class="label-tooltip"
        data-toggle="pstooltip"
        data-placement="top"
        data-original-title="{{ 'This will delete the current address format'|trans({}, 'Admin.International.Help') }}"
        data-html="true">
            <a id="eraseCurrentLayout"
               href="javascript:void(0)"
               data-confirmation="{{ confirmation }}"
               data-default-layout=" "
               class="btn btn-outline-secondary reset-address-layout">
              <i class="material-icons">delete_sweep</i>  {{ 'Clear format'|trans({}, 'Admin.International.Feature') }}
            </a>
  </span>
  <small class="form-text">
    {{ 'Want to set required fields in the customer\'s registration form? Go to [1]Customers > Addresses[/1] to configure it.'|trans(
      {
        '[1]': '<a href="' ~ getAdminLink('AdminAddresses', true) ~ '">',
        '[/1]': '</a>'
      },
      'Admin.International.Help')|raw
    }}
  </small>
</div>
