{% set confirmation = 'Are you sure you want to restore the default address format for this country?'|trans({},'Admin.International.Feature') %}
<div class="col-lg-24">
  <span title=""
    data-toggle="tooltip"
    class="label-tooltip"
    data-original-title="{{ 'This will restore your last registered address format.'|trans({}, 'Admin.International.Help') }}"
    data-html="true" data-placement="top">
    <a id="useLastDefaultLayout" href="javascript:void(0)"
       data-confirmation="{{ confirmation }}"
       data-default-layout="{{ encodingAddressLayout }}"
       class="btn btn-primary reset-address-layout">
      {{ 'Use the last registered format'|trans({}, 'Admin.International.Feature') }}
    </a>
  </span>
  <span title="" data-toggle="tooltip" class="label-tooltip"
    data-original-title="{{ 'This will restore the default address format for this country'|trans({}, 'Admin.International.Help') }}"
    data-html="true">
        <a id="useDefaultLayoutSystem"
           href="javascript:void(0)"
           data-confirmation="{{ confirmation }}"
           data-default-layout="{{ defaultLayout }}"
           class="btn btn-primary reset-address-layout">
          {{ 'Use the default format'|trans({}, 'Admin.International.Feature') }}
        </a>
  </span>
  <span title="" data-toggle="tooltip" class="label-tooltip"
        data-original-title="{{ 'This will restore your current address format.'|trans({}, 'Admin.International.Help') }}"
        data-html="true">
            <a id="useCurrentLastModifiedLayout"
               href="javascript:void(0)"
               data-confirmation="{{ confirmation }}"
               class="btn btn-primary reset-address-layout">
              {{ 'Use my current modified format'|trans({}, 'Admin.International.Feature') }}
            </a>
  </span>
  <span title="" data-toggle="tooltip" class="label-tooltip"
        data-original-title="{{ 'This will delete the current address format'|trans({}, 'Admin.International.Help') }}"
        data-html="true">
            <a id="eraseCurrentLayout"
               href="javascript:void(0)"
               data-confirmation="{{ confirmation }}"
               data-default-layout=" "
               class="btn btn-primary reset-address-layout">
              <i class="icon-eraser"></i>  {{ 'Clear format'|trans({}, 'Admin.International.Feature') }}
            </a>
  </span>
</div>
