{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

<div class="panel">
    <form name="form" id="form" method="post" class="form-horizontal" novalidate="novalidate">
        <div class="col-lg-12">
            <div id="form_bubbling_errors">
                {{ form_errors(form) }}
            </div>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#step1" role="tab" data-toggle="tab">{{ trans('Your product', [], 'AdminProducts') }}</a></li>
            <li><a href="#step2" role="tab" data-toggle="tab">{{ trans('Quantity', [], 'AdminProducts') }}</a></li>
            <li><a href="#step3" role="tab" data-toggle="tab">{{ trans('Shipping', [], 'AdminProducts') }}</a></li>
            <li><a href="#step4" role="tab" data-toggle="tab">{{ trans('SEO', [], 'AdminProducts') }}</a></li>
            <li><a href="#step5" role="tab" data-toggle="tab">{{ trans('Options', [], 'AdminProducts') }}</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane panel panel-default active" id="step1">
                {{ form_widget(form.step1) }}
                <div class="text-right">
                    <a class="btn btn-primary btn-next">{{ trans('CONTINUE', [], 'AdminProducts') }}</a>
                    <input type="submit" id="submit" value="{{ trans('SAVE', [], 'AdminProducts') }}" class="btn btn-warning" />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane panel panel-default" id="step2">
                {{ form_widget(form.step2) }}
                <div class="text-right">
                    <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS', [], 'AdminProducts') }}</a>
                    <a class="btn btn-primary btn-next">{{ trans('CONTINUE', [], 'AdminProducts') }}</a>
                    <input type="submit" value="{{ trans('SAVE', [], 'AdminProducts') }}" class="btn btn-warning" />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane panel panel-default" id="step3">
                {{ form_widget(form.step3) }}
                <div class="text-right">
                    <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS', [], 'AdminProducts') }}</a>
                    <a class="btn btn-primary btn-next">{{ trans('CONTINUE', [], 'AdminProducts') }}</a>
                    <input type="submit" id="submit" value="{{ trans('SAVE', [], 'AdminProducts') }}" class="btn btn-warning" />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane panel panel-default" id="step4">
                {{ form_widget(form.step4) }}
                <div class="text-right">
                    <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS', [], 'AdminProducts') }}</a>
                    <a class="btn btn-primary btn-next">{{ trans('CONTINUE', [], 'AdminProducts') }}</a>
                    <input type="submit" id="submit" value="{{ trans('SAVE', [], 'AdminProducts') }}" class="btn btn-warning" />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane panel panel-default" id="step5">
                {{ form_widget(form.step5) }}
                <div class="text-right">
                    <a class="btn btn-primary btn-prev">{{ trans('PREVIOUS', [], 'AdminProducts') }}</a>
                    <input type="submit" id="submit" value="{{ trans('SAVE', [], 'AdminProducts') }}" class="btn btn-warning" />
                </div>
            </div>
        </div>
        {{ form_end(form) }}
</div>

<script>
    $( document ).ready(function() {
        $('.btn-next').click(function(){
            $('.nav-tabs > .active').next('li').find('a').trigger('click');
        });

        $('.btn-prev').click(function(){
            $('.nav-tabs > .active').prev('li').find('a').trigger('click');
        });

        $("#form").submit(function( event ) {
            event.preventDefault();
            var data = $(this, 'input, textarea, select').not(':input[type=button], :input[type=submit], :input[type=reset]').serialize();

            $.ajax({
                type: "POST",
                data: data,
                beforeSend: function() {
                    $('#form #submit').attr("disabled", "disabled");
                    $('.help-block').remove();
                    $( "*.has-error" ).removeClass("has-error");
                },
                success: function(){
                    showSuccessMessage('{{ trans('Form update success', [], 'AdminProducts') }}');
                },
                error: function(response){
                    showErrorMessage('{{ trans('Form update errors', [], 'AdminProducts') }}');

                    $.each(jQuery.parseJSON(response.responseText), function(key, errors){
                        var html = '<span class="help-block"><ul class="list-unstyled">';
                        $.each(errors, function(key, error){
                            html += '<li><span class="glyphicon glyphicon-exclamation-sign"></span> ' + error + '</li>';
                        });
                        html += '</ul></span>';

                        $('#form_'+key).parent().append(html);
                        $('#form_'+key).parent().addClass('has-error');
                    });

                    //scroll to 1st error
                    $('html, body').animate({
                        scrollTop: $(".has-error").first().offset().top - $('.page-head').height() - $('.navbar-header').height()
                    }, 500);
                },
                complete: function(){
                    $('#form #submit').removeAttr("disabled");
                }
            });
        });
    });
</script>