<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="robots" content="NOFOLLOW, NOINDEX">

<link rel="icon" type="image/x-icon" href="{{ this.imgDir }}favicon.ico" />
<link rel="apple-touch-icon" href="{{ this.imgDir }}app_icon.png" />

<title>{% if meta_title %}{{ meta_title }} • {% endif %}{{ this.shopName }}</title>

{% if display_header_javascript %}
  <script type="text/javascript">
    var help_class_name = '{{ this.controllerName|e('js') }}';
    var iso_user = '{{ this.isoUser|e('js') }}';
    var lang_is_rtl = '{{ this.langIsRtl|intCast }}';
    var full_language_code = '{{ this.fullLanguageCode|e('js') }}';
    var full_cldr_language_code = '{{ this.fullCldrLanguageCode|e('js') }}';
    var country_iso_code = '{{ this.countryIsoCode|e('js') }}';
    var _PS_VERSION_ = '{{ this.psVersion|e('js') }}';
    var roundMode = {{ this.roundMode|intCast }};
    var youEditFieldFor = '';
    {% if shop_context %}
      {% if shop_context == constant('\Shop::CONTEXT_ALL') %}
    youEditFieldFor = '{{ 'This field will be modified for all your shops.'|trans({}, 'Admin.Notifications.Info') }}';
      {% elseif shop_context == constant('\Shop::CONTEXT_GROUP') %}
    youEditFieldFor = '{{ 'This field will be modified for all shops in this shop group:'|trans({}, 'Admin.Notifications.Info') }} <b>{{ this.shopName|e('js') }}</b>';
      {% else %}
    youEditFieldFor = '{{ 'This field will be modified for this shop:'|trans({}, 'Admin.Notifications.Info') }} <b>{{ this.shopName|e('js') }}</b>
      {% endif %}
    {% endif %}
    var new_order_msg = '{{ 'A new order has been placed on your store.'|trans({}, 'Admin.Navigation.Header') }}';
    var order_number_msg = '{{ 'Order number:'|trans({}, 'Admin.Navigation.Header') }} ';
    var total_msg = '{{ 'Total:'|trans({}, 'Admin.Global') }} ';
    var from_msg = '{{ 'From:'|trans({}, 'Admin.Global') }} ';
    var see_order_msg = '{{ 'View this order'|trans({}, 'Admin.Orderscustomers.Feature') }}';
    var new_customer_msg = '{{ 'A new customer registered on your store.'|trans({}, 'Admin.Navigation.Header') }}';
    var customer_name_msg = '{{ 'Customer name:'|trans({}, 'Admin.Navigation.Header') }} ';
    var new_msg = '{{ 'A new message was posted on your store.'|trans({}, 'Admin.Navigation.Header') }}';
    var see_msg = '{{ 'Read this message'|trans({}, 'Admin.Navigation.Header') }}';
    var token = '{{ this.legacyToken|e('js') }}';
    var currentIndex = '{{ this.currentIndex|e('js') }}';
    var employee_token = '{{ this.employeeToken|e('js') }}';
    var choose_language_translate = '{{ 'Choose language:'|trans({}, 'Admin.Actions') }}';
    var default_language = '{{ this.defaultLanguage|intCast }}';
    var admin_modules_link = '{{ legacy_path("AdminModulesSf", {'route': "admin_module_manage"})|e('js')}}';
    var admin_notification_get_link = '{{ legacy_path("AdminCommon")|e('js') }}';
    var admin_notification_push_link = adminNotificationPushLink = '{{ legacy_path("AdminCommon", {'route': 'admin_common_notifications_ack'})|e('js') }}';
    var update_success_msg = '{{ 'Update successful'|trans({}, 'Admin.Notifications.Success') }}';
    var search_product_msg = '{{ 'Search for a product'|trans({}, 'Admin.Orderscustomers.Feature') }}';
  </script>
{% endif %}

{% include "@AdminNewTheme/public/preload.html.twig" ignore missing with { 'admin_dir': '/admin-dev/themes/new-theme/public/' } %}

{% for css_uri, css_media in css_files %}
  <link href="{{ css_uri|e('html_attr') }}" rel="stylesheet" type="text/css" media="{{ css_media }}"/>
{% endfor %}

{% if this.jsDef %}
  <script type="text/javascript">
    {% for k, def in this.jsDef %}
    var {{ k }} = {{ def|json_encode|raw }};
    {% endfor %}
  </script>
{% endif %}

{% for js_uri in js_files %}
  <script type="text/javascript" src="{{ js_uri|e('html_attr') }}"></script>
{% endfor %}

{% if js_inline %}
<script type="text/javascript">
  {% for inline in js_inline %}
    {{ inline|raw }}
  {% endfor %}
</script>
{% endif %}

{% if displayBackOfficeHeader %}
  {{ displayBackOfficeHeader|raw }}
{% endif %}
