{% set isModuleActive = module.database.active|default('0') %}
{% set productType = module.attributes.serviceUrl is defined and module.attributes.serviceUrl|length > 0 ? 'service' : 'module' %}

{# Grid template #}

<div
  class="module-item-grid {{ col_lg }} {% if origin == 'manage' and isModuleActive == '0' %}module-item-grid-isNotActive{% endif %}"
  data-id="{{ module.attributes.id }}"
  data-name="{{ module.attributes.displayName }}"
  data-scoring="{{ module.attributes.avgRate }}"
  data-logo="{{ module.attributes.img }}"
  data-author="{{ module.attributes.author }}"
  data-version="{{ module.attributes.version }}"
  data-description="{{ module.attributes.description }}"
  data-tech-name="{{ module.attributes.name }}"
  data-child-categories="{{ module.attributes.categoryName }}"
  data-categories="{{ module.attributes.categoryParent }}"
  data-type="{{ productType }}"
  data-price="{{ module.attributes.price.raw }}"
  data-active="{{ isModuleActive }}"
>
  <div class="module-item-wrapper-grid">
    <div class="module-item-heading-grid">
      <div class="module-logo-thumb-grid">
        <img src="{{ module.attributes.img }}" alt="{{ module.attributes.displayName }}"/>
      </div>
      <h3
        class="text-ellipsis module-name-grid"
        data-toggle="tooltip"
        data-placement="top"
        title="{{ module.attributes.displayName|raw }}"
      >
        grid
        {% if module.attributes.displayName %}
          {{ module.attributes.displayName|raw }}
        {% else %}
          {{ module.attributes.name }}
        {% endif %}
      </h3>
      <div class="text-ellipsis xsmall module-version-author-grid">
        {% block addon_version %}
          {% if productType == "service" %}
            {{ 'Service by '|trans({}, 'Admin.Modules.Feature') }}
            <b>{{ module.attributes.author }}</b>
          {% else %}
            {{ 'v%version% - by '|trans({ '%version%' : module.attributes.version }, 'Admin.Modules.Feature') }}
            <b>{{ module.attributes.author }}</b>
          {% endif %}
        {% endblock %}
      </div>
    </div>
    <div class="module-quick-description-grid small no-padding">
      {% block addon_description %}
        <div class="module-quick-description-text">
          {{ module.attributes.description|raw }}
          {% if module.attributes.description|length > 0 and module.attributes.description|length < module.attributes.fullDescription|length %}
            ...
          {% endif %}
        </div>
        <div class="module-read-more-grid">
          {% if module.attributes.id != "0" %}
            <a class="module-read-more-grid-btn url" href="{{ path('admin_module_cart', {"moduleId": module.attributes.id }) }}" data-toggle="modal" data-target="#module-modal-read-more-{{module.attributes.name }}{{ additionalModalSuffix|default('') }}">{{ 'Read More'|trans({}, 'Admin.Modules.Feature') }}</a>
          {% endif %}
        </div>
      {% endblock %}
    </div>

    <div class="module-container module-quick-action-grid clearfix">
      {% if module.attributes.nbRates > 0 %}
        <div class="module-star-ranking-grid-{{ module.attributes.starsRate}} small">
          ({{ module.attributes.nbRates }})
        </div>
      {% endif %}
      {% if requireBulkActions is defined and requireBulkActions == true %}
        <div class="pull-right module-checkbox-bulk-grid">
          <input type="checkbox" data-name="{{ module.attributes.displayName }}" data-tech-name="{{module.attributes.name}}" />
        </div>
      {% endif %}
      {% include 'PrestaShopBundle:Admin/Module/Includes:action_menu.html.twig' with { 'module': module } %}
    </div>
    {% include 'PrestaShopBundle:Admin/Module/Includes:modal_read_more.html.twig' with { 'module': module, 'additionalModalSuffix': additionalModalSuffix|default('') } %}
    {% include 'PrestaShopBundle:Admin/Module/Includes:modal_confirm.html.twig' with { 'module': module } %}
  </div>
</div>

{# List template #}
{#
<div
  class="module-item-list {{ col_lg }} {% if origin == 'manage' and isModuleActive == '0' %}module-item-list-isNotActive{% endif %}"
  data-id="{{ module.attributes.id }}"
  data-name="{{ module.attributes.displayName }}"
  data-scoring="{{ module.attributes.avgRate }}"
  data-logo="{{ module.attributes.img }}"
  data-author="{{ module.attributes.author }}"
  data-version="{{ module.attributes.version }}"
  data-description="{{ module.attributes.description }}"
  data-tech-name="{{ module.attributes.name }}"
  data-child-categories="{{ module.attributes.categoryName }}"
  data-categories="{{ module.attributes.categoryParent }}"
  data-type="{{ productType }}"
  data-price="{{ module.attributes.price.raw }}"
  data-active="{{ isModuleActive }}"
>
  <div class="module-item-wrapper-list">
    <div class="module-item-heading-list">
      <div class="module-logo-thumb-list">
        <img src="{{ module.attributes.img }}" alt="{{ module.attributes.displayName }}"/>
      </div>
      <h3
        class="text-ellipsis module-name-list"
        data-toggle="tooltip"
        data-placement="top"
        title="{{ module.attributes.displayName|raw }}"
      >
        list
        {% if module.attributes.displayName %}
          {{ module.attributes.displayName|raw }}
        {% else %}
          {{ module.attributes.name }}
        {% endif %}
      </h3>
      <div class="text-ellipsis xsmall module-version-author-list">
        {% block addon_version %}
          {% if productType == "service" %}
            {{ 'Service by '|trans({}, 'Admin.Modules.Feature') }}
            <b>{{ module.attributes.author }}</b>
          {% else %}
            {{ 'v%version% - by '|trans({ '%version%' : module.attributes.version }, 'Admin.Modules.Feature') }}
            <b>{{ module.attributes.author }}</b>
          {% endif %}
        {% endblock %}
      </div>
    </div>
    <div class="module-quick-description-list small no-padding">
      {% block addon_description %}
        <div class="module-quick-description-text">
          {{ module.attributes.description|raw }}
          {% if module.attributes.description|length > 0 and module.attributes.description|length < module.attributes.fullDescription|length %}
            ...
          {% endif %}
        </div>
        <div class="module-read-more-list">
          {% if module.attributes.id != "0" %}
            <a class="module-read-more-list-btn url" href="{{ path('admin_module_cart', {"moduleId": module.attributes.id }) }}" data-toggle="modal" data-target="#module-modal-read-more-{{module.attributes.name }}{{ additionalModalSuffix|default('') }}">{{ 'Read More'|trans({}, 'Admin.Modules.Feature') }}</a>
          {% endif %}
        </div>
      {% endblock %}
    </div>

    <div class="module-container module-quick-action-list clearfix">
      {% if module.attributes.nbRates > 0 %}
        <div class="module-star-ranking-grid-{{ module.attributes.starsRate}} small">
          ({{ module.attributes.nbRates }})
        </div>
      {% endif %}
      {% if requireBulkActions is defined and requireBulkActions == true %}
        <div class="pull-right module-checkbox-bulk-list">
          <input type="checkbox" data-name="{{ module.attributes.displayName }}" data-tech-name="{{module.attributes.name}}" />
        </div>
      {% endif %}
      {% include 'PrestaShopBundle:Admin/Module/Includes:action_menu.html.twig' with { 'module': module } %}
    </div>
    {% include 'PrestaShopBundle:Admin/Module/Includes:modal_read_more.html.twig' with { 'module': module, 'additionalModalSuffix': additionalModalSuffix|default('') } %}
    {% include 'PrestaShopBundle:Admin/Module/Includes:modal_confirm.html.twig' with { 'module': module } %}
  </div>
</div>
#}
