{% if display_type is not defined %}
  {% set display_type = 'grid' %}
{% endif %}

<div id="modules-list-container-{{ id }}" class="row modules-list">
  {% if app.request.attributes.get('_route') == 'admin_module_catalog_refresh' %}
    {% for module in modules %}
      {% include 'PrestaShopBundle:Admin/Module/Includes:card_grid.html.twig' with { 'display_type': display_type, 'module': module, 'origin': origin|default('none') } %}
    {% endfor %}
  {% endif %}
  {% for module in modules %}
    {% include 'PrestaShopBundle:Admin/Module/Includes:card_list.html.twig' with { 'display_type': display_type, 'module': module, 'origin': origin|default('none') } %}
  {% endfor %}
  {% block addon_search_card %}
    {% if requireAddonsSearch is defined and requireAddonsSearch == true %}
      <div class="module-addons-item-{{ display_type }}">
        <div class="module-addons-item-wrapper-{{ display_type }}">
          <span class="module-icon-addons-exit-{{ display_type }}">
            <img src="{{ asset('themes/default/img/preston.png') }}" alt="{{ 'Exit to PrestaShop Addons Marketplace'|trans({}, 'Admin.Modules.Feature') }}" />
          </span>
          {{ 'See all results for your search on '|trans({}, 'Admin.Modules.Feature') }}<br/>
          <a class="url" href="#">{{ 'PrestaShop Addons Marketplace'|trans({}, 'Admin.Modules.Feature') }}</a>
        </div>
      </div>
    {% endif %}
  {% endblock %}
</div>
