{% set dimension_unit, weight_unit = 'PS_DIMENSION_UNIT'|configuration, 'PS_WEIGHT_UNIT'|configuration %}

<div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <div class="row">

          {# LEFT #}
          <div class="col-md-9">
            <h4>{{ trans('Package dimension', [], 'AdminProducts') }}</h4>
            <p>{{ trans('Adjust your shipping costs by filling in the product dimensions.', [], 'AdminProducts') }}</p>
              <div class="row">
                  <div class="col-md-3">
                      <fieldset class="form-group">
                          <label>{{ form.width.vars.label }}</label>
                          {{ form_errors(form.width) }}
                          <div class="input-group">
                              <span class="input-group-addon">{{ dimension_unit }}</span>
                              {{ form_widget(form.width) }}
                          </div>
                      </fieldset>
                  </div>
                  <div class="col-md-3">
                      <fieldset class="form-group">
                          <label>{{ form.height.vars.label }}</label>
                          {{ form_errors(form.height) }}
                          <div class="input-group">
                              <span class="input-group-addon">{{ dimension_unit }}</span>
                              {{ form_widget(form.height) }}
                          </div>
                      </fieldset>
                  </div>
                  <div class="col-md-3">
                      <fieldset class="form-group">
                          <label>{{ form.depth.vars.label }}</label>
                          {{ form_errors(form.depth) }}
                          <div class="input-group">
                              <span class="input-group-addon">{{ dimension_unit }}</span>
                              {{ form_widget(form.depth) }}
                          </div>
                      </fieldset>
                  </div>
                  <div class="col-md-3">
                      <fieldset class="form-group">
                          <label>{{ form.weight.vars.label }}</label>
                          {{ form_errors(form.weight) }}
                          <div class="input-group">
                              <span class="input-group-addon">{{ weight_unit }}</span>
                              {{ form_widget(form.weight) }}
                          </div>
                      </fieldset>
                  </div>
                  <div class="clearfix"></div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <h4>{{ form.selectedCarriers.vars.label }}</h4>
                      <fieldset class="form-group">
                          {{ form_widget(form.selectedCarriers) }}
                      </fieldset>
                  </div>

                  <div class="col-md-6">
                      <h4>{{ form.additional_shipping_cost.vars.label }}</h4>
                      <p>{{ trans('Does this product incur additional shipping cost?', [], 'AdminProducts') }}</p>
                      <fieldset class="row col-md-4 form-group">
                          {{ form_widget(form.additional_shipping_cost) }}
                      </fieldset>
                  </div>
              </div>
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                  <i class="material-icons">info_outline</i>
                  <p>{{ trans('If no carrier is selected then all the carriers will be available for customers orders.', {}, 'AdminProducts')|raw }}</p>
                </div>
              </div>
            </div>

            <div id="warehouse_combination_collection" class="col-sm-12 form-group" data-url="{{ path('admin_warehouse_refresh_product_warehouse_combination_form') }}">
              {% if asm_globally_activated
              and isNotVirtual
              and isChecked %}
                {{ include('PrestaShopBundle:Admin:Product/Include/form-warehouse-combination.html.twig', { 'warehouses': warehouses, 'form': form }) }}
              {% endif %}
            </div>
          </div>

          {# RIGHT #}
          <div class="col-md-3 left-separator">
            {% render controller('PrestaShopBundle:Admin\\Common:recommendedModules',
            {'limit': 3, 'randomize': 1, 'domain': 'products_shipping' })
            %}
          </div>

        </div>
      </div>
    </div>
</div>



