<div class="form-group">
    <div class="col-xs-3 pull-left">
        <label class="control-label">{{ form.label.vars.label }}</label>
        {{ form_widget(form.label) }}
    </div>
    <div class="col-xs-3 pull-left">
        <label class="control-label">{{ form.type.vars.label }}</label>
        {{ form_widget(form.type) }}
    </div>
    <div class="col-xs-5 pull-left">
        <label class="control-label col-xs-12">&nbsp;</label>
        <button type="button" class="btn btn-default delete pull-left" ><i class="icon-trash"></i></button>
        <div class="col-xs-8">
            {{ form_widget(form.require) }}
        </div>
    </div>
</div>
