{% if suppliers|length > 0 %}
  <div id="custom_fields">
    <h2>{{ form.suppliers.vars.label }}</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info alert-drop" role="alert">
          <i class="material-icons">help</i>
          <p class="alert-text">
            {{ 'This interface allows you to specify the suppliers of the current product and its combinations, if any.'|trans({}, 'Admin.Catalog.Help')|raw }}<br>
            {{ 'You can specify supplier references according to previously associated suppliers.'|trans({}, 'Admin.Catalog.Help')|raw }}
            <strong>{{ 'Read more'|trans({}, 'Admin.Actions')|raw }}</strong>
          </p>
        </div>
        <div class="alert alert-info alert-down" role="alert">
          <p class="alert-down-text">
            {{ 'When using the advanced stock management tool (see Shop Parameters > Products settings), the values you define (price, references) will be used in supply orders.'|trans({}, 'Admin.Catalog.Help')|raw }}
          </p>
        </div>
      </div>
    </div>

    {{ form_errors(form.suppliers) }}

    <table class="table table-striped" id="form_step6_suppliers">
      <thead>
      <tr class="text-uppercase">
        <th width="70%">{{ 'Choose the suppliers associated with this product'|trans({}, 'Admin.Catalog.Feature') }}</th>
        <th width=30%">{{ 'Default supplier'|trans({}, 'Admin.Catalog.Feature') }}</th>
      </tr>
      </thead>
      <tbody>
      {% for key, supplier in form.suppliers %}
        <tr>
          <td>{{ form_widget(supplier) }}</td>
          <td>{{ form_widget(form.default_supplier[key]) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
{% endif %}
