<div class="modal fade"
     id="forwardThreadModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="forwardThreadModalLabel"
     aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    {{ form_start(forwardCustomerThreadForm, {
      'action': path('admin_customer_threads_forward', {
        'customerThreadId': customerThreadView.customerThreadId.value
      }),
      'attr': {'class': 'form-horizontal'}
    }) }}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="forwardThreadModalLabel">
            {{ 'Forward this discussion'|trans({}, 'Admin.Orderscustomers.Feature') }}
          </h5>
          <button type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="{{ 'Close'|trans({}, 'Admin.Actions') }}"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="customer_email" class="form-control-label">
              {{ 'Forward this discussion to an employee:'|trans({}, 'Admin.Orderscustomers.Feature') }}
            </label>
            <div class="col-sm">
              {{ form_widget(forwardCustomerThreadForm.employee_id) }}
            </div>
          </div>

          <div class="form-group row d-none">
            <label for="customer_email" class="form-control-label">
              {{ 'Email'|trans({}, 'Admin.Global') }}
            </label>
            <div class="col-sm">
              {{ form_widget(forwardCustomerThreadForm.someone_else_email) }}
            </div>
          </div>

          <div class="form-group row">
            <label for="customer_email" class="form-control-label">
              {{ 'Comment:'|trans({}, 'Admin.Orderscustomers.Feature') }}
            </label>
            <div class="col-sm">
              {{ form_widget(forwardCustomerThreadForm.comment, {
                'attr': {'placeholder': 'You can add a comment here.'|trans({}, 'Admin.Orderscustomers.Help')}
              }) }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ 'Close'|trans({}, 'Admin.Actions') }}
          </button>
          <button type="submit" class="btn btn-primary">
            {{ 'Forward'|trans({}, 'Admin.Orderscustomers.Feature') }}
          </button>
        </div>
      </div>
    {{ form_end(forwardCustomerThreadForm) }}
  </div>
</div>
