{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
<div class="search-translation">
    <h2>{{ 'Search'|trans({}, 'Admin.Actions') }}</h2>
    <div class="hide alert alert-info">{{ '0 result found'|trans({}, 'Admin.Notifications.Error') }}</div>
    <label>{{ 'Translation key or value (2 characters at least):'|trans({}, 'Admin.International.Feature') }}</label>
    <form>
        <input pattern=".{2,}" type="search" id="jetsSearch">
        <input class="btn btn-default btn-sm search-button" type="submit" value="{{ 'Search'|trans({}, 'Admin.Actions') }}">
        <input class="btn btn-default btn-sm" type="reset" value="{{ 'Reset'|trans({}, 'Admin.Actions') }}">
    </form>
    <div id="jetsContent">
        {{ getTranslationsForms(translationsTree)|raw }}
    </div>
</div>
<div class="translation-page">
    {{ getTranslationsTree(translationsTree)|raw }}
</div>
{% endblock %}
