{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
<div class="search-translation">
  <h2>{{ 'Search translations'|trans({}, 'Admin.International.Feature') }}</h2>
  <div class="summary pull-right">
    <span data-template="{{ total_translations }}" class="total-translations"></span>
    <span class="hide separator"> - </span>
    <span data-template="{{ total_remaining_translations }}" class="total-remaining-translations"></span>
  </div>
  <form>
    <label>{{ '(2 characters at least)'|trans({}, 'Admin.International.Feature') }}</label>
    <div class="form-inline">
      <input class="form-control search"
             pattern=".{2,}"
             placeholder="{{ 'Search a word or expression, e.g.: \"Order confirmation\"'|trans({}, 'Admin.International.Help') }}"
             type="search"
             id="jetsSearch"
      />
      <input class="btn btn-primary search-button" type="submit" value="{{ 'Search'|trans({}, 'Admin.Actions') }}" />
      <input class="btn btn-tertiary-outline" type="reset" value="{{ 'Reset'|trans({}, 'Admin.Actions') }}" />
    </div>
  </form>
  <div class="hide alert alert-warning">
    <i class="material-icons">info_outline</i>
    <span>{{ 'No results found'|trans({}, 'Admin.Notifications.Error') }}</span>
  </div>
  {% include 'PrestaShopBundle:Admin/Translations/include:translations-forms.html.twig' %}
</div>

<form method="post" id="messages-fragments" action="{{ path('admin_international_translations_messages_fragments') }}">
  <input type="hidden" name="lang" value="{{ requestParams.lang }}">
  <input type="hidden" name="type" value="{{ requestParams.type }}">
  <input type="hidden" name="theme" value="{{ requestParams.theme }}">
</form>

<div class="container-fluid">
  <div class="row">
    {% include 'PrestaShopBundle:Admin/Translations/include:translations-tree.html.twig' %}
    <div class="translation-domains col-xs-6">
      <h1 id="domain">
        <span class="name"></span>
        <span class="separator hide">-</span>
        <span class="missing-translations"></span>
      </h1>
      <p class="missing-translations-paragraph"></p>
      <div class="navbar-container pull-right"></div>
      <div class="forms-container">
      </div>
    </div>
  </div>
</div>
{% endblock %}
