<div class="col-md-6 text-left combinations-pagination">
  {# todo: 10 hardcoded as per page limit. Check ProductFormDataProvider related #}
  {% set limit = 10 %}
  {% set numPages = max(totalCombinations / limit, 1)|round(0, 'ceil') %}
  <nav{% if totalCombinations <= limit %} class="d-none"{% endif %} id="combinationsNavPagination">
    <ul class="pagination" id="combinationsTablePagination" data-num-per-page="{{ limit }}"
        data-num-pages="{{ numPages }}">
      <li class="page-item disabled" id="combinationsTablePaginationPrev">
        <a class="page-link" href="javascript:void(0);" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% for numPage in 1..numPages %}
        <li class="page-item{% if numPage==1 %} active{% endif %}">
          <span class="page-link" data-limit="{{ limit }}" data-page="{{ numPage }}">{{ numPage }}</span>
        </li>
      {% endfor %}
      <li class="page-item"><span class="page-link" data-page=""></span></li>
      <li class="page-item" id="combinationsTablePaginationNext">
        <a class="page-link" href="javascript:void(0);" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
