{#todo: limit should be modifyable#}
{% set limit = 10 %}
{% set pageCount = (totalCombinations/limit)|round(0, 'ceil') %}
{% set firstUrl = url('admin_products_combinations', {'productId': productId,'page': 1, 'limit': limit}) %}
{% set nextUrl = url('admin_products_combinations', {'productId': productId,'page': 2, 'limit': limit}) %}
{% set lastUrl = url('admin_products_combinations', {'productId': productId,'page': pageCount, 'limit': limit}) %}

<div
  class="row justify-content-center"
  id="combinations-pagination"
  data-total="{{ totalCombinations }}"
  data-limit="{{ limit }}"
>
  <ul class="pagination mb-0">
    <li class="page-item first disabled">
      <button type="button" class="page-link" data-page="1" data-url="{{ firstUrl }}">1</button>
    </li>
    <li class="page-item previous disabled">
      <button type="button" class="page-link previous" aria-label="Previous"><span class="sr-only">Previous</span></button>
    </li>
    <li class="page-item current active">
      <label>
        <input
          name="paginator_jump_page"
          class="jump-to-page"
          type="text"
          value="1"
          data-url="{{ firstUrl }}"
          max="{{ pageCount }}"
        />
      </label>
    </li>
    <li class="page-item next">
      <button
        type="button"
        class="page-link next"
        aria-label="Next"
        data-page="2"
        data-url="{{ nextUrl }}">
        <span class="sr-only">Next</span>
      </button>
    </li>
    <li class="page-item last">
      <button type="button" class="page-link last" data-page="{{ pageCount }}" data-url="{{ lastUrl }}">{{ pageCount }}</button>
    </li>
  </ul>
</div>
