{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('themes/default/css/bundle/module/module.css') }}" />
    <link rel="stylesheet" href="{{ asset('themes/default/css/bundle/module/drop.css') }}" />
    <link rel="stylesheet" href="{{ asset('themes/default/css/bundle/plugins/jquery.pstagger.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('themes/default/js/bundle/plugins/jquery.pstagger.js') }}"></script>
    <script src="{{ asset('themes/default/js/bundle/module/loader.js') }}"></script>
    <script src="{{ asset('themes/default/js/bundle/module/module_card.js') }}"></script>
    <script src="{{ asset('themes/default/js/bundle/module/module.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1 module-catalog-page">
            {# Addons connect modal #}
            {% include 'PrestaShopBundle:Admin/Module/Includes:modal_addons_connect.html.twig' %}
            {# Contains toolbar-nav for module page #}
            {% include 'PrestaShopBundle:Admin/Module/Includes:modal_import.html.twig' %}
            {# Contains menu with Selection/Categories/Popular and Tag Search #}
            {% include 'PrestaShopBundle:Admin/Module/Includes:menu_top.html.twig' %}
            {# Temporary loader until ajax has finished and display the full catalog #}
            {% include 'PrestaShopBundle:Admin/Module/Includes:grid_loader.html.twig' %}
            {# Module Categories Grid #}
            {% if topMenuData.categories is defined %}
                {% include 'PrestaShopBundle:Admin/Module/Includes:categories_grid.html.twig' with { 'categories' : topMenuData.categories }  %}
            {% endif %}
            <script>
              $('body').on('show.bs.modal', '.modal', function (event) {
                var url = event.relatedTarget.href;
                $.get(url, function(data) {
                  $(this).text(data);
                })
              })
            </script>
        </div>
    </div>
{% endblock %}
