{% macro tabContent(data = []) %}
  <div class="tab-content address-format-tabs-content" >
    {% for key, rows in data %}
      <div class="tab-pane availableFieldsList panel {% if loop.index == 1 %} active {% endif %}" id="availableListFieldsFor_{{ key }}">
        {% for row in rows %}
          {% set value = row %}
          {% if row|split(':')|length > 1 %}
            {% set value = row|split(':')|last %}
          {% endif %}
          <a href="javascript:void(0);" class="add-pattern btn btn-default btn-xs" id={{ row }}>
            <i class="material-icons">add_circle_outline</i>
            {{ value }}
          </a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <small class="form-text">
    {{ 'Required fields for the address (click for more details):'|trans({}, 'Admin.International.Feature') }}
  </small>
{% endmacro %}

{% macro tabNav(data = []) %}
  {% set tabActive = 'active show' %}
  <ul class="nav nav-tabs address-format-tabs" id="custom-address-fields">
    {% for key, rows in data %}
      {% if loop.index != 1 %}
        {% set tabActive = '' %}
      {% endif %}
      <li class="nav-item">
        <a href="#availableListFieldsFor_{{ key }}" class="nav-link  {{ tabActive }}">
          {{ key }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
