{% block product_tabs_container %}
  {{ include('@PrestaShop/Admin/Sell/Catalog/Product/Blocks/tabs.html.twig', {
    'productForm': productForm,
    'productType': productType,
    'extraModulesHooks': extraModulesHooks
  }) }}
{% endblock %}

<div id="product-tabs-content" class="product-tabs tab-content">
  {% block product_tab_description %}
    {{ include('@PrestaShop/Admin/Sell/Catalog/Product/Tabs/description.html.twig', {
      'productForm': productForm,
    }) }}
  {% endblock %}

  {% block product_tab_specifications %}
    {{ include('@PrestaShop/Admin/Sell/Catalog/Product/Tabs/specifications.html.twig', {
      'productForm': productForm,
    }) }}
  {% endblock %}

  {% if productType == 'combinations' %}
    {% block product_tab_combinations %}
      {{ include('@PrestaShop/Admin/Sell/Catalog/Product/Tabs/combinations.html.twig') }}
    {% endblock %}
  {% endif %}

  {% if productForm.stock is defined %}
    {% block product_tab_stock %}
      {{ include('@PrestaShop/Admin/Sell/Catalog/Product/Tabs/stock.html.twig') }}
    {% endblock %}
  {% endif %}

  {% if productForm.shipping is defined %}
    {% block product_tab_shipping %}
      {{ include('@PrestaShop/Admin/Sell/Catalog/Product/Tabs/shipping.html.twig', {
        'productForm': productForm,
      }) }}
    {% endblock %}
  {% endif %}

  {% block product_tab_pricing %}
    {{ include('@PrestaShop/Admin/Sell/Catalog/Product/Tabs/pricing.html.twig', {
      'productForm': productForm,
    }) }}
  {% endblock %}

  {% block product_tab_seo %}
    {{ include('@PrestaShop/Admin/Sell/Catalog/Product/Tabs/seo.html.twig', {
      'productForm': productForm,
    }) }}
  {% endblock %}

  {% block product_tab_options %}
    {{ include('@PrestaShop/Admin/Sell/Catalog/Product/Tabs/options.html.twig', {
      'productForm': productForm,
    }) }}
  {% endblock %}

  {% block product_extra_tab %}
    {{ include('@PrestaShop/Admin/Sell/Catalog/Product/Tabs/modules.html.twig', {
      'productForm': productForm,
      'extraModulesHooks': extraModulesHooks,
    }) }}
  {% endblock %}
</div>
